<div class="master first">
  <span class="title">Simplest form field</span>
  <ard-form-field>
    <ard-label>Test</ard-label>
    <ard-simple-input />
  </ard-form-field>
</div>
<div class="master first">
  <span class="title">Form field with hint</span>
  <ard-form-field>
    <ard-label>Test</ard-label>
    <ard-simple-input [formControl]="control" />
    <ard-hint>Lorem ipsum dolor sit amet consectetur.</ard-hint>
  </ard-form-field>
</div>
<div class="master first">
  <span class="title">Form field with 3 hints</span>
  <ard-form-field>
    <ard-label>Test</ard-label>
    <ard-simple-input [formControl]="control" />
    <ard-hint left>Left 1</ard-hint>
    <ard-hint left>Left 2</ard-hint>
    <ard-hint right>Right</ard-hint>
  </ard-form-field>
</div>
<div class="master first">
  <span class="title">Form field with hint and error</span>
  <ard-form-field>
    <ard-label>Test</ard-label>
    <ard-simple-input [formControl]="control2" />
    <ard-hint>Lorem ipsum dolor sit amet consectetur.</ard-hint>
    @if (control2.invalid && control2.touched) {
    <ard-error>This field is required.</ard-error>
    }
  </ard-form-field>
  <button (click)="control2.markAsTouched()">Mark as touched</button>
</div>
<div class="master first">
  <span class="title">Form field with success state</span>
  <ard-form-field>
    <ard-label>Test</ard-label>
    <ard-simple-input
      [formControl]="control"
      isSuccess
    />
    <ard-hint>Hint</ard-hint>
  </ard-form-field>
</div>
<div class="master first">
  <span class="title">Form field with reserved hint line</span>
  <ard-form-field reserveHintLine>
    <ard-label>Test</ard-label>
    <ard-simple-input [formControl]="control" />
    @if (showHint()) {
    <ard-hint>Lorem ipsum dolor sit amet consectetur.</ard-hint>
    }
  </ard-form-field>
</div>
<div class="master first">
  <span class="title">Form field with disabled input</span>
  <ard-form-field>
    <ard-label>Test</ard-label>
    <ard-simple-input [formControl]="control3" />
    <ard-hint>Example hint</ard-hint>
  </ard-form-field>
</div>
<div class="master first">
  <span class="title">Form field with select control</span>
  <ard-form-field>
    <ard-label>Test</ard-label>
    <ard-select
      [formControl]="control"
      [items]="options"
    />
    <ard-hint>Lorem ipsum dolor sit amet consectetur.</ard-hint>
  </ard-form-field>
</div>
<div class="master first">
  <span class="title">Form field with digit input control</span>
  <ard-form-field>
    <ard-label required>Test</ard-label>
    <ard-digit-input
      [formControl]="controlDigit"
      outputAsString
      [config]="6"
    />
    <ard-hint>Lorem ipsum dolor sit amet consectetur.</ard-hint>
  </ard-form-field>
</div>
<div class="master first">
  <span class="title">Form field with segment control</span>
  <ard-form-field>
    <ard-label optional>Test</ard-label>
    <ard-segment
      [formControl]="controlSegment"
      [items]="['yes', 'no']"
      uniformWidths
    />
    <ard-hint>Lorem ipsum dolor sit amet consectetur.</ard-hint>
  </ard-form-field>
</div>
<div class="master">
  <span class="title">Horizontal form field</span>
  <ard-horizontal-form-field>
    <ard-label>Test</ard-label>
    <ard-simple-input [formControl]="control" />
    <ard-hint>My hint</ard-hint>
  </ard-horizontal-form-field>
</div>
<div class="master first">
  <span class="title">Form field with native input control</span>
  <ard-form-field>
    <ard-label>Native input</ard-label>
    <input type="text" [formControl]="controlNativeInput">
    <ard-hint>Lorem ipsum dolor sit amet consectetur.</ard-hint>
  </ard-form-field>
</div>
<div class="master first">
  <span class="title">Form field with native textarea control</span>
  <ard-form-field>
    <ard-label>Native textarea</ard-label>
    <textarea type="text" [formControl]="controlNativeTextarea"></textarea>
    <ard-hint>Lorem ipsum dolor sit amet consectetur.</ard-hint>
  </ard-form-field>
</div>
<div class="master">
  <span class="title">All possible form controls</span>
  <div class="flex horiz">
    <ard-form-field>
      <ard-label>simple-input</ard-label>
      <ard-simple-input hasError />
      <ard-error>Error here</ard-error>
    </ard-form-field>
    <ard-form-field>
      <ard-label>select</ard-label>
      <ard-select hasError />
      <ard-error>Error here</ard-error>
    </ard-form-field>
    <ard-form-field>
      <ard-label>segment</ard-label>
      <ard-segment items="1,2" hasError />
      <ard-error>Error here</ard-error>
    </ard-form-field>
    <ard-form-field>
      <ard-label>radio-group</ard-label>
      <ard-radio-group hasError>
        <ard-radio value="test">Test</ard-radio>
      </ard-radio-group>
      <ard-error>Error here</ard-error>
    </ard-form-field>
    <ard-form-field>
      <ard-label>number-input</ard-label>
      <ard-number-input hasError />
      <ard-error>Error here</ard-error>
    </ard-form-field>
  </div>
</div>
