<div class="master first">
  <span class="title">Simplest form field</span>
  <ard-form-field>
    <ard-label>Test</ard-label>
    <ard-input />
  </ard-form-field>
</div>
<div class="master first">
  <span class="title">Form field with hint</span>
  <ard-form-field>
    <ard-label>Test</ard-label>
    <ard-input [formControl]="control" />
    <ard-hint>Lorem ipsum dolor sit amet consectetur.</ard-hint>
  </ard-form-field>
</div>
<div class="master first">
  <span class="title">Form field with hint aligned to right by default</span>
  <ard-form-field defaultHintAlign="right">
    <ard-label>Test</ard-label>
    <ard-input [formControl]="control" />
    <ard-hint>Lorem ipsum dolor sit amet consectetur.</ard-hint>
  </ard-form-field>
</div>
<div class="master first">
  <span class="title">Form field with 3 hints</span>
  <ard-form-field>
    <ard-label>Test</ard-label>
    <ard-input [formControl]="control" />
    <ard-hint left>Left 1</ard-hint>
    <ard-hint left>Left 2</ard-hint>
    <ard-hint right>Right</ard-hint>
  </ard-form-field>
</div>
<div class="master first">
  <span class="title">Form field with hint and error</span>
  <ard-form-field>
    <ard-label>Test</ard-label>
    <ard-input [formControl]="control2" />
    <ard-hint>Lorem ipsum dolor sit amet consectetur.</ard-hint>
    @if (control2.invalid && control2.touched) {
    <ard-error>This field is required.</ard-error>
    }
  </ard-form-field>
  <button (click)="control2.markAsTouched()">Mark as touched</button>
</div>
<div class="master first">
  <span class="title">Form field auto error</span>
  <ard-form-field reserveHintLine>
    <ard-label>Test</ard-label>
    <ard-input [formControl]="controlAutoError" />
    <ard-hint>Lorem ipsum dolor sit amet consectetur.</ard-hint>
    <ard-auto-error [control]="controlAutoError" />
  </ard-form-field>
  <button (click)="controlAutoError.markAsTouched()">Mark as touched</button>
  <p>
    {{ controlAutoError.errors | json }}
  </p>
</div>
<div class="master first">
  <span class="title">Form field with success state</span>
  <ard-form-field>
    <ard-label>Test</ard-label>
    <ard-input
      [formControl]="control"
      isSuccess
    />
    <ard-hint>Hint</ard-hint>
  </ard-form-field>
</div>
<div class="master first">
  <span class="title">Form field with reserved hint line</span>
  <ard-form-field reserveHintLine>
    <ard-label>Test</ard-label>
    <ard-input [formControl]="control" />
    @if (showHint()) {
    <ard-hint>Lorem ipsum dolor sit amet consectetur.</ard-hint>
    }
  </ard-form-field>
</div>
<div class="master first">
  <span class="title">Form field with disabled input</span>
  <ard-form-field>
    <ard-label>Test</ard-label>
    <ard-input [formControl]="control3" />
    <ard-hint>Example hint</ard-hint>
  </ard-form-field>
</div>
<div class="master first">
  <span class="title">Form field with select control</span>
  <ard-form-field>
    <ard-label>Test</ard-label>
    <ard-select
      [formControl]="control"
      [items]="options"
    />
    <ard-hint>Lorem ipsum dolor sit amet consectetur.</ard-hint>
  </ard-form-field>
</div>
<div class="master first">
  <span class="title">Form field with character counter</span>
  <ard-form-field>
    <ard-label>Passport Number</ard-label>
    <ard-input
      [formControl]="controlCharCount"
      maxLength="9"
    />
    <ard-hint-error right>{{ controlCharCount.value?.length ?? 0 }}/9</ard-hint-error>
    @if (controlCharCount.touched && controlCharCount.errors) {
    <ard-error>Not a valid passport number</ard-error>
    }
  </ard-form-field>
</div>
<div class="master first">
  <span class="title">Form field with very long hint</span>
  <ard-form-field>
    <ard-label required>Input with long hint</ard-label>
    <ard-input />
    <ard-hint>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus blanditiis similique aspernatur officia earum sapiente
      nobis, dolorum accusamus. Porro, doloribus.
    </ard-hint>
  </ard-form-field>
  <ard-form-field>
    <ard-label required>Input with multiple long errors</ard-label>
    <ard-input />
    <ard-error> Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque quibusdam corporis error. </ard-error>
    <ard-error>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus blanditiis similique aspernatur officia earum sapiente
      nobis, dolorum accusamus. Porro, doloribus.
    </ard-error>
    <ard-error right>Test</ard-error>
  </ard-form-field>
</div>
<div class="master first">
  <span class="title">Form field with digit input control</span>
  <ard-form-field>
    <ard-label required>Test</ard-label>
    <ard-digit-input
      [formControl]="controlDigit"
      outputAsString
      [config]="6"
    />
    <ard-hint>Lorem ipsum dolor sit amet consectetur.</ard-hint>
  </ard-form-field>
</div>
<div class="master first">
  <span class="title">Form field with segment control</span>
  <ard-form-field>
    <ard-label optional>Test</ard-label>
    <ard-segment
      [formControl]="controlSegment"
      [items]="['yes', 'no']"
      uniformWidths
    />
    <ard-hint>Lorem ipsum dolor sit amet consectetur.</ard-hint>
  </ard-form-field>
</div>
<div class="master">
  <span class="title">Horizontal form field</span>
  <ard-horizontal-form-field>
    <ard-label>Test</ard-label>
    <ard-input [formControl]="control" />
    <ard-hint>My hint</ard-hint>
  </ard-horizontal-form-field>
</div>
<div class="master">
  <span class="title">Horizontal form field with many hints</span>
  <ard-horizontal-form-field>
    <ard-label>Test</ard-label>
    <ard-input [formControl]="control" />
    <ard-hint>Hint 1</ard-hint>
    <ard-hint>Hint 2</ard-hint>
    <ard-hint>Hint 3</ard-hint>
    <ard-hint>Hint 4</ard-hint>
    <ard-hint>Hint 5</ard-hint>
  </ard-horizontal-form-field>
</div>
<div class="master first">
  <span class="title">Form field with native input control</span>
  <ard-form-field>
    <ard-label>Native input</ard-label>
    <input
      type="text"
      [formControl]="controlNativeInput"
    />
    <ard-hint>Lorem ipsum dolor sit amet consectetur.</ard-hint>
  </ard-form-field>
</div>
<div class="master first">
  <span class="title">Form field with native textarea control</span>
  <ard-form-field>
    <ard-label>Native textarea</ard-label>
    <textarea
      type="text"
      [formControl]="controlNativeTextarea"
    ></textarea>
    <ard-hint>Lorem ipsum dolor sit amet consectetur.</ard-hint>
  </ard-form-field>
</div>
<div class="master">
  <span class="title">All possible form controls</span>
  <div class="flex horiz">
    <ard-form-field>
      <ard-label>input</ard-label>
      <ard-input hasError />
      <ard-error>Error here</ard-error>
    </ard-form-field>
    <ard-form-field>
      <ard-label>select</ard-label>
      <ard-select hasError />
      <ard-error>Error here</ard-error>
    </ard-form-field>
    <ard-form-field>
      <ard-label>segment</ard-label>
      <ard-segment
        items="1,2"
        hasError
      />
      <ard-error>Error here</ard-error>
    </ard-form-field>
    <ard-form-field>
      <ard-label>radio-group</ard-label>
      <ard-radio-group hasError>
        <ard-radio value="test">Test</ard-radio>
      </ard-radio-group>
      <ard-error>Error here</ard-error>
    </ard-form-field>
    <ard-form-field>
      <ard-label>number-input</ard-label>
      <ard-number-input hasError />
      <ard-error>Error here</ard-error>
    </ard-form-field>
  </div>
</div>

<div class="cover-image orange">
  <ard-form-field>
    <ard-label>Email</ard-label>
    <ard-input
      appearance="outlined"
      type="email"
      placeholder="Enter your email"
    />
    <ard-hint>We'll never share your email.</ard-hint>
  </ard-form-field>
</div>
