<!-- <div class="master">
  <span class="title">Simplest radio</span>
  <ard-radio-group>
    <ard-radio value="value1">Option 1</ard-radio>
    <ard-radio value="value2">Option 2</ard-radio>
    <ard-radio value="value3">Option 3</ard-radio>
  </ard-radio-group>
</div>
<div class="master">
  <span class="title">Radio group name</span>
  <ard-radio-group name="example-radios-group">
    <ard-radio value="value1">Option 1</ard-radio>
    <ard-radio value="value2">Option 2</ard-radio>
    <ard-radio value="value3">Option 3</ard-radio>
  </ard-radio-group>
</div>
<div class="master">
  <span class="title">Radios with preselected radio (by value)</span>
  <ard-radio-group value="value2">
    <ard-radio value="value1">Option 1</ard-radio>
    <ard-radio value="value2">Option 2</ard-radio>
    <ard-radio value="value3">Option 3</ard-radio>
  </ard-radio-group>
</div>
<div class="master">
  <span class="title">Radios with preselected radio (by reference)</span>
  <ard-radio-group [selected]="selectMe">
    <ard-radio value="value1">Option 1</ard-radio>
    <ard-radio value="value2">Option 2</ard-radio>
    <ard-radio
      value="value3"
      #selectMe
      >Option 3</ard-radio
    >
  </ard-radio-group>
</div>
<div class="master">
  <span class="title">Radios with preselected radio (by child input)</span>
  <ard-radio-group>
    <ard-radio value="value1">Option 1</ard-radio>
    <ard-radio value="value2">Option 2</ard-radio>
    <ard-radio
      value="value3"
      selected
      >Option 3</ard-radio
    >
  </ard-radio-group>
</div> -->
<div class="master">
  <span class="title">Readonly radios with preselected radio (by value)</span>
  <ard-radio-group value="value2" readonly>
    <ard-radio value="value1">Option 1</ard-radio>
    <ard-radio value="value2">Option 2</ard-radio>
    <ard-radio value="value3">Option 3</ard-radio>
  </ard-radio-group>
</div>
<!-- <div class="master">
  <span class="title">Radio events</span>
  <ard-radio-group
    (valueChange)="log('valueChange', $event)"
    (change)="log('change', $event)"
  >
    <ard-radio value="value1">Option 1</ard-radio>
    <ard-radio value="value2">Option 2</ard-radio>
    <ard-radio value="value3">Option 3</ard-radio>
  </ard-radio-group>
</div>
<div class="master">
  <span class="title">Styling the radio group</span>
  <ard-radio-group class="styled-group">
    <ard-radio value="value1">Option 1</ard-radio>
    <ard-radio value="value2">Option 2</ard-radio>
    <ard-radio value="value3">Option 3</ard-radio>
  </ard-radio-group>
</div>
<div class="master">
  <span class="title">Disabled radios</span>
  <ard-radio-group>
    <ard-radio value="value1">Option 1</ard-radio>
    <ard-radio
      value="value2"
      disabled
      >Option 2</ard-radio
    >
    <ard-radio value="value3">Option 3</ard-radio>
  </ard-radio-group>
</div>
<div class="master">
  <span class="title">Disabled radio group</span>
  <ard-radio-group
    disabled
    class="styled-group"
  >
    <ard-radio value="value1">Option 1</ard-radio>
    <ard-radio value="value2">Option 2</ard-radio>
    <ard-radio value="value3">Option 3</ard-radio>
  </ard-radio-group>
</div>
<div class="master">
  <span class="title">Disabled radio group through form control</span>
  <ard-radio-group [formControl]="control">
    <ard-radio value="value1">Option 1</ard-radio>
    <ard-radio value="value2">Option 2</ard-radio>
    <ard-radio value="value3">Option 3</ard-radio>
  </ard-radio-group>
  <button (click)="control.disabled ? control.enable() : control.disable()">
    {{ control.disabled ? 'Enable' : 'Disable' }} control
  </button>
</div> -->
