@use './mixins' as defaultMixins;
@use '../variables' as ARD;

@mixin clearButton() {
  ard-clear-button {
    height: ARD.$clear-button-size;
    width: ARD.$clear-button-size;
    position: relative;
  }

  .ard-clear-btn-wrapper {
    cursor: pointer;
    font-size: medium;
    color: ARD.$detail;
    width: ARD.$clear-button-size;
    height: ARD.$clear-button-size;
    line-height: 1em;
    border-radius: 999px;
    border: none;
    padding: 0;
    background: transparent;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    outline: none;
    color: inherit;

    .ard-hitbox {
      position: absolute;
      left: -1px;
      right: -1px;
      top: -1px;
      bottom: -1px;
    }

    .ard-focus-overlay {
      @include defaultMixins.focus-overlay(1px);
      background: currentColor;
    }

    .ard-clear-btn {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      &::before {
        content: 'close';
        @include defaultMixins.icon;
        font-size: 70%;
      }
    }

    &:hover {
      .ard-focus-overlay {
        opacity: 5%;
      }
    }

    &:focus {
      .ard-focus-overlay {
        opacity: 8%;
      }
    }

    &:active {
      .ard-focus-overlay {
        opacity: 15%;
      }
    }
  }
}
