@import '../variables';

@mixin typeColors {
    &.ard-color-none {
        --ard-cmpcl--on-bg: #{$text};
        --ard-cmpcl--button-border: #{$border-light};
        --ard-cmpcl--border: #{$text};
        --ard-cmpcl--border-light: #{$text};
        --ard-cmpcl--bg: #{$bg};
        --ard-cmpcl--bg-light: #{$bg-d};
        --ard-cmpcl--content: #{$text};
        --ard-cmpcl--overlay: #{$overlay};
    }
    &.ard-color-primary {
        --ard-cmpcl--on-bg: #{$text-alt};
        --ard-cmpcl--button-border: #{$border-light};
        --ard-cmpcl--border: #{$main300};
        --ard-cmpcl--border-light: #{$main100};
        --ard-cmpcl--bg: #{$main500};
        --ard-cmpcl--bg-light: #{$main50};
        --ard-cmpcl--content: #{$main700};
        --ard-cmpcl--overlay: #{$overlay};
    }
    &.ard-color-secondary {
        --ard-cmpcl--on-bg: #{$text-alt};
        --ard-cmpcl--button-border: #{$border-light};
        --ard-cmpcl--border: #{$scnd300};
        --ard-cmpcl--border-light: #{$scnd100};
        --ard-cmpcl--bg: #{$scnd500};
        --ard-cmpcl--bg-light: #{$scnd50};
        --ard-cmpcl--content: #{$scnd700};
        --ard-cmpcl--overlay: #{$overlay};
    }
    &.ard-color-warn {
        --ard-cmpcl--on-bg: #{$text-alt};
        --ard-cmpcl--button-border: #{$border-light};
        --ard-cmpcl--border: #{$warn300};
        --ard-cmpcl--border-light: #{$warn100};
        --ard-cmpcl--bg: #{$warn500};
        --ard-cmpcl--bg-light: #{$warn50};
        --ard-cmpcl--content: #{$warn700};
        --ard-cmpcl--overlay: #{$overlay};
    }
    &.ard-color-danger {
        --ard-cmpcl--on-bg: #{$text-alt};
        --ard-cmpcl--button-border: #{$border-light};
        --ard-cmpcl--border: #{$danger300};
        --ard-cmpcl--border-light: #{$danger100};
        --ard-cmpcl--bg: #{$danger700};
        --ard-cmpcl--bg-light: #{$danger50};
        --ard-cmpcl--content: #{$danger900};
        --ard-cmpcl--overlay: #{$overlay};
    }
    &.ard-color-success {
        --ard-cmpcl--on-bg: #{$text-alt};
        --ard-cmpcl--button-border: #{$border-light};
        --ard-cmpcl--border: #{$success300};
        --ard-cmpcl--border-light: #{$success100};
        --ard-cmpcl--bg: #{$success700};
        --ard-cmpcl--bg-light: #{$success50};
        --ard-cmpcl--content: #{$success900};
        --ard-cmpcl--overlay: #{$overlay};
    }
    &.ard-color-info {
        --ard-cmpcl--on-bg: #{$text-alt};
        --ard-cmpcl--button-border: #{$border-light};
        --ard-cmpcl--border: #{$info300};
        --ard-cmpcl--border-light: #{$info100};
        --ard-cmpcl--bg: #{$info500};
        --ard-cmpcl--bg-light: #{$info50};
        --ard-cmpcl--content: #{$info700};
        --ard-cmpcl--overlay: #{$overlay};
    }
    &.ard-color-currentColor {
        --ard-cmpcl--on-bg: #{$bg};
        --ard-cmpcl--button-border: currentColor;
        --ard-cmpcl--border: currentColor;
        --ard-cmpcl--bg: currentColor;
        --ard-cmpcl--content: currentColor;
        --ard-cmpcl--overlay: #{$overlay};
    }
}