@import '../variables';

@mixin dropdown-arrow($size: $dropdown-button-size) {
    width: $size;
    height: $size;
    border: calc($size / 2) solid transparent;
    position: relative;
    border-bottom-color: $detail;
    border-right-color: $detail;
    transform: rotate(45deg) translate(-17.67771%, -17.67771%);
    box-sizing: border-box;
}