@use '../variables' as ARD;

@mixin icon($fill: 0, $wght: 500, $grad: 0, $opsz: 48) {
  font-family: 'Material Symbols Outlined';
  font-size: 1.5em;
  font-variation-settings:
    'FILL' #{$fill},
    'wght' #{$wght},
    'GRAD' #{$grad},
    'opsz' #{$opsz};
}

@mixin focus-overlay($size: 0px) {
  position: absolute;
  top: calc(-1 * #{$size});
  bottom: calc(-1 * #{$size});
  left: calc(-1 * #{$size});
  right: calc(-1 * #{$size});
  opacity: 0;
  border-radius: inherit;
  pointer-events: none;

  transition: opacity 0.2s ease;
}
@mixin focus-overlay-scale-addon() {
  --_ard-focus-overlay-scale: 0.2;
  > .ard-focus-overlay {
    transform: scale(var(--_ard-focus-overlay-scale));

    transition:
      opacity 0.2s ease,
      transform 0.1s ease;
  }

  &:hover,
  &:focus,
  &:focus-visible {
    > .ard-focus-overlay {
      --_ard-focus-overlay-scale: 1;
    }
  }
}

@mixin formAppearances() {
  &.ard-appearance-outlined {
    --ard-appearance-background: #{ARD.$bg};
    --ard-appearance-border-color: #{ARD.$border};
    --ard-appearance-border: 1px solid var(--ard-appearance-border-color);

    &.ard-focused {
      --ard-appearance-border-color: #{ARD.$border-dark};
    }
    &.ard-is-success {
      --ard-appearance-border-color: #{ARD.$success500};
    }
    &.ard-has-error {
      --ard-appearance-background: #{ARD.$danger50};
      --ard-appearance-border-color: #{ARD.$danger500};
    }
  }
  &.ard-appearance-filled {
    --ard-appearance-background: #{ARD.$bg-f};
    --ard-appearance-border: none;

    &.ard-is-success {
      --ard-appearance-background: #{ARD.$success50};
    }
    &.ard-has-error {
      --ard-appearance-background: #{ARD.$danger50};
    }
  }
  &.ard-appearance-transparent {
    --ard-appearance-background: transparent;
    --ard-appearance-border: none;
  }
}

@mixin formVariants() {
  border-radius: var(--ard-variant-border-radius);

  &.ard-variant-rounded,
  &.ard-variant-semirounded {
    --ard-variant-border-radius: 8px;
  }
  &.ard-variant-pill {
    --ard-variant-border-radius: 9999px;
  }
  &.ard-variant-sharp {
    --ard-variant-border-radius: 0;
  }
}
