@use './coloring' as CM;

@layer ard-ui {
  // the variables are commented out intentionally
  // read more in docs/dev/css-variables.md
  :root {
    --ard-badge-small-font-size: 0.55rem;
    // --ard-badge-small-size: ;
    --ard-badge-small-font-weight: 400;
    --ard-badge-small-letter-spacing: 0.2px;
    // --ard-badge-small-rounded-radius: ;

    --ard-badge-medium-font-size: 0.667rem;
    // --ard-badge-medium-size: ;
    --ard-badge-medium-font-weight: 500;
    --ard-badge-medium-letter-spacing: 0.2px;
    // --ard-badge-medium-rounded-radius: ;

    --ard-badge-large-font-size: 0.8125rem;
    // --ard-badge-large-size: ;
    --ard-badge-large-font-weight: 600;
    --ard-badge-large-letter-spacing: 0.2px;
    // --ard-badge-large-rounded-radius: ;

    --ard-badge-overlap-offset: 0.3em;
  }

  .ard-badge-host {
    position: relative;
  }
  .ard-badge {
    @include CM.typeColors();
    position: absolute;
    display: flex;
    align-items: center;
    pointer-events: none;

    //! colors
    background: var(--ard-cmpcl--bg-colored);
    color: var(--ard-cmpcl--on-bg-colored);

    //! variants
    &.ard-variant-pill {
      border-radius: 9999px;
    }
    &.ard-variant-rounded {
      border-radius: var(--ard-_badge-radius);
    }
    &.ard-variant-sharp {
      border-radius: 0;
    }

    //! hidden
    &.ard-badge-hidden {
      display: none;
    }

    //! sizes
    font-size: var(--ard-_badge-font-size);
    min-width: var(--ard-_badge-size);
    height: var(--ard-_badge-size);

    .ard-badge-content {
      padding: 0 var(--ard-_badge-padding);
    }

    &.ard-badge-size-small {
      --ard-_badge-font-size: var(--ard-badge-small-font-size, 0.55rem);
      --ard-_badge-size: var(--ard-badge-small-size, calc(var(--ard-badge-small-font-size) * 1.375));
      --ard-_badge-padding: calc(var(--ard-badge-small-font-size) * 0.5);
      --ard-_badge-radius: var(--ard-badge-small-rounded-radius, calc(var(--ard-badge-small-font-size) * 0.25));
      font-weight: var(--ard-badge-small-font-weight, 400);
      letter-spacing: var(--ard-badge-small-letter-spacing, 0.2px);
    }
    &.ard-badge-size-medium {
      --ard-_badge-font-size: var(--ard-badge-medium-font-size, 0.667rem);
      --ard-_badge-size: var(--ard-badge-medium-size, calc(var(--ard-badge-medium-font-size) * 1.375));
      --ard-_badge-padding: calc(var(--ard-badge-medium-font-size) * 0.5);
      --ard-_badge-radius: var(--ard-badge-medium-rounded-radius, calc(var(--ard-badge-medium-font-size) * 0.25));
      font-weight: var(--ard-badge-medium-font-weight, 500);
      letter-spacing: var(--ard-badge-medium-letter-spacing, 0.2px);
    }
    &.ard-badge-size-large {
      --ard-_badge-font-size: var(--ard-badge-large-font-size, 0.8125rem);
      --ard-_badge-size: var(--ard-badge-large-size, calc(var(--ard-badge-large-font-size) * 1.375));
      --ard-_badge-padding: calc(var(--ard-badge-large-font-size) * 0.5);
      --ard-_badge-radius: var(--ard-badge-large-rounded-radius, calc(var(--ard-badge-large-font-size) * 0.25));
      font-weight: var(--ard-badge-large-font-weight, 600);
      letter-spacing: var(--ard-badge-large-letter-spacing, 0.2px);
    }

    //! overlap
    --ard-_badge-overlap-offset-x: var(--ard-badge-overlap-offset, 0.3em);

    &.ard-badge-overlap {
      --ard-_badge-overlap-offset-x: 50%;
    }
    &.ard-badge-position-above-before {
      transform: translate(var(--ard-_badge-overlap-offset-x), 50%);
    }
    &.ard-badge-position-above-after {
      transform: translate(calc(-1 * var(--ard-_badge-overlap-offset-x)), 50%);
    }
    &.ard-badge-position-below-after {
      transform: translate(calc(-1 * var(--ard-_badge-overlap-offset-x)), -50%);
    }
    &.ard-badge-position-below-before {
      transform: translate(var(--ard-_badge-overlap-offset-x), -50%);
    }

    //! positions
    &.ard-badge-position-above-before,
    &.ard-badge-position-below-before {
      right: 100%;
    }
    &.ard-badge-position-above-after,
    &.ard-badge-position-below-after {
      left: 100%;
    }
    &.ard-badge-position-below-before,
    &.ard-badge-position-below-after {
      top: 100%;
    }
    &.ard-badge-position-above-before,
    &.ard-badge-position-above-after {
      bottom: 100%;
    }
  }
}
