@use './dropdown-arrow.scss' as DA;
@use './mixins.scss' as DM;
@use './coloring.scss' as CM;
@use '../variables' as ARD;

$grid-size: 2.5rem;

.ard-calendar {
  @include CM.typeColors();
  width: 18.5rem;
  user-select: none;

  //! top toolbar
  .ard-calendar__top-toolbar {
    .ard-calendar__calendar-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 0.75rem 0;

      .ard-dropdown-arrow {
        @include DA.dropdown-arrow();
      }
    }
  }
  .ard-years-view {
    .ard-dropdown-arrow {
      rotate: 180deg;
    }
  }
  //! weekdays
  .ard-calendar__weekdays {
    display: grid;
    grid-template-columns: repeat(7, $grid-size);
    align-items: center;
    padding: 0 0.375rem 0.5rem 0.375rem;

    .ard-calendar__weekday {
      text-align: center;
      font-size: 0.875rem;
      font-weight: 500;
      color: ARD.$text;
    }
  }
  //! days grid
  .ard-calendar__days-grid {
    padding: 0.375rem;
    padding-top: 0;
    display: grid;
    grid-template-columns: repeat(7, $grid-size);
    position: relative;
    outline: none;

    > * {
      max-width: 100%;
      box-sizing: border-box;
      aspect-ratio: 1;
    }
    &.ard-reserve-top-row {
      padding-top: $grid-size;
    }
    .ard-calendar__floating-month {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      box-sizing: border-box;
      aspect-ratio: 7;
      padding-left: 1rem;
      display: flex;
      align-items: center;
      font-size: 0.875rem;
      font-weight: 500;
      color: ARD.$text3;
      letter-spacing: 0.5px;
      z-index: 2;
      pointer-events: none;
    }
  }
  //! years grid
  .ard-calendar__simple-grid {
    border-top: 1px solid ARD.$detail-ultralight;
    margin-top: 0.25rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, $grid-size);
    position: relative;
    outline: none;

    > * {
      max-width: 100%;
      box-sizing: border-box;
      aspect-ratio: 7/4; //it has to be the same height as in the days view
      //before it was 7/7 (1) because there are 7 entries in a single row
      //now there are 4 entries, and thus 7/4
    }
  }
  //! common in both grids
  .ard-calendar__entry {
    z-index: 1;
    cursor: pointer;
    outline: none;
    padding: 0.125rem;

    .ard-calendar__entry-button {
      width: 100%;
      height: 100%;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.875rem;;
      background: transparent;
      border: 1px solid transparent;
      border-radius: 9999px;
      position: relative;
      cursor: pointer;

      .ard-focus-overlay {
        @include DM.focus-overlay();
        z-index: -1;
        background: var(--ard-cmpcl--bg-colored);
        border: 2px solid transparent;
        transition: border-color 0.2s ease, opacity 0.2s ease;
      }
    }
    &.ard-calendar__entry-empty {
      cursor: default;
    }
    &.ard-calendar-today {
      .ard-calendar__entry-button {
        border-color: ARD.$detail;
      }
    }
    &.ard-calendar__entry-highlighted {
      .ard-focus-overlay {
        opacity: 20%;
      }
    }
    &.ard-calendar__entry-selected {
      .ard-calendar__entry-button {
        color: var(--ard-cmpcl--on-bg-colored);
      }
      .ard-focus-overlay {
        opacity: 100%;
      }

      &.ard-calendar-today {
        .ard-focus-overlay {
          border-color: ARD.$bg;
        }
      }
    }
  }
  .ard-calendar__day-labels {
    font-size: 0.8125rem;
    color: ARD.$text3;
    height: 1.25rem;
    position: relative;

    > * {
      display: flex;
      align-items: center;
      justify-content: center;
      aspect-ratio: unset;
    }
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background: ARD.$detail-ultralight;
      bottom: 0;
    }
  }
}
.ard-readonly,
.ard-disabled {
  .ard-calendar {
    pointer-events: none;
  }
}
.ard-disabled {
  .ard-calendar {
    opacity: 50%;
  }
}
