@use './mixins' as CM;
@use '../variables' as ARD;

.ard-checkbox-list {
  display: flex;
  flex-direction: column;
  padding-top: 0.375rem;

  .ard-checkbox-list__item {
    display: flex;
    align-items: center;
    padding: 0;
    position: relative;
    cursor: pointer;
    height: max-content;
    min-height: 3rem;

    > label {
      pointer-events: none;
      user-select: none;
      padding: 0 0.5rem;
    }
    > .ard-focus-overlay {
      @include CM.focus-overlay();
      background: ARD.$overlay;
    }
    &.ard-item-highlighted {
      > .ard-focus-overlay {
        opacity: 5%;
      }
    }
    &:active {
      > .ard-focus-overlay {
        opacity: 15%;
      }
    }
    ard-checkbox {
      padding: 0.625rem;
      min-width: 1.25rem;

      .ard-checkbox {
        .ard-focus-overlay {
          display: none;
        }
      }
    }
    &.ard-item-disabled {
      pointer-events: none;

      > label {
        opacity: 50%;
      }
    }
  }
  &.ard-compact {
    .ard-checkbox-list__item {
      gap: 0.325rem;
      height: 2rem;
    }
  }
}
