@use './mixins' as defaultMixins;
@use './coloring' as coloringMixins;
@use '../variables';

.ard-checkbox {
    @include coloringMixins.typeColors();
    position: relative;
    cursor: pointer;
    user-select: none;
    color: $overlay;
    width: 1.25em;
    height: 1.25em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    padding: 0;

    .ard-hitbox {
        position: absolute;
        left: -4px;
        right: -4px;
        bottom: -4px;
        top: -4px;
    }
    .ard-focus-overlay {
        @include defaultMixins.focus-overlay(0.4em);
        border-radius: 999px;
        background: currentColor;
    }
    .ard-checkbox-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
        opacity: 80%;
        transition: opacity 0.2s $timing-fn;

        &::after {
            @include defaultMixins.icon(0, 600);
            line-height: unset;
        }
    }
    .ard-icon-for-selected::after {
        @include defaultMixins.icon(1, 500);
        content: 'check_box';
    }
    .ard-icon-for-indeterminate::after {
        content: 'indeterminate_check_box';
    }
    .ard-icon-for-unselected::after {
        content: 'check_box_outline_blank';
    }
    &.ard-checkbox-selected {
        color: var(--ard-cmpcl--bg);

        &.ard-color-currentColor {
            color: inherit;
        }

        .ard-checkbox-icon {
            opacity: 90%;
        }

        //edge case for no coloring
        &.ard-color-none {
            color: $overlay;
        }
    }
    &.ard-checkbox-selected {
        .ard-icon-for-selected {
            display: block;
        }
    }
    &.ard-checkbox-indeterminate {
        .ard-icon-for-indeterminate {
            display: block;
        }
    }
    &.ard-checkbox-unselected {
        .ard-icon-for-unselected {
            display: block;
        }
    }
    &:hover,
    &:focus {
        .ard-checkbox-icon {
            opacity: 100%;
        }
        .ard-focus-overlay {
            opacity: 10%;
        }
    }
    &:active {
        .ard-focus-overlay {
            opacity: 20%;
        }
    }
}
//! disabled state
.ard-disabled .ard-checkbox {
    pointer-events: none;
    opacity: 40%;

    &.ard-checkbox-selected,
    &.ard-checkbox-indeterminate {
        opacity: 50%;
    }
}