

.ard-color-display-wrapper {
    gap: 0.3ch;
    align-items: center;

    .ard-color-display {
        width: 1em * 19 / 16;
        height: 1em * 19 / 16;
        font-size: inherit;
        cursor: help;
        border: (1em / 16) solid transparent;
    }

    .ard-color-display-label {
        font-family: monospace;
        font-size: 1.15em;
    }
    
    &.ard-appearance-rounded {
        .ard-color-display {
            border-radius: 20%;
        }
    }
    &.ard-appearance-circle {
        .ard-color-display {
            border-radius: 100%;
        }
    }
    &.ard-appearance-sharp {
        .ard-color-display {
            border-radius: 0;
        }
    }
    &.ard-with-border {
        .ard-color-display {
            border-color: $text;
        }
    }
}