.ard-dialog-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.ard-dialog-buttons {
    display: flex;
    justify-content: flex-end;
}

.ard-dialog-buttons-container {
    display: flex;
    gap: 1rem;
    align-items: center;
}
