@layer ard-ui {
  // the variables are commented out intentionally
  // read more in docs/dev/css-variables.md
  :root {
    --ard-dialog-content-actions-gap: 1rem;
    --ard-dialog-buttons-gap: 1rem;
  }

  .ard-dialog-container {
    display: flex;
    flex-direction: column;
    gap: var(--ard-dialog-content-actions-gap, 1rem);
  }

  .ard-dialog-buttons {
    display: flex;
    justify-content: flex-end;
  }

  .ard-dialog-buttons-container {
    display: flex;
    gap: var(--ard-dialog-buttons-gap, 1rem);
    align-items: center;
  }
}
