@use '../variables' as ARD;

ard-divider {
  margin: 0;

  &:not(.ard-divider-vertical) {
    border-top: 1px solid ARD.$detail-ultralight;
  }

  &.ard-divider-vertical {
    border-left: 1px solid ARD.$detail-ultralight;
  }
}
