@import '../variables';

.ard-divider {
    margin: 0;
    border-top: 1px solid $detail-light;

    &.ard-divider-vertical {
        border-top: none;
        border-left: 1px solid $detail-light;   
    }
}