.ard-dropdown-host {
    position: relative;
}
.ard-dropdown-panel {
    position: absolute;
    margin-top: 6px;
    background: $bg;
    border-radius: 8px;
    box-shadow: $box-shadow;
    z-index: 5;
    left: 0;
    width: 100%;
    overflow: hidden;
}
.ard-dropdown-panel-items {
    padding: 6px 0;
    max-height: 240px;
    overflow: hidden auto;
}