@use './mixins' as defaultMixins;
@use '../variables' as ARD;

@layer ard-theme {
  .ard-form-field-frame {
    box-sizing: border-box;
    min-height: ARD.$form-field-height;
    height: max-content;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: stretch;
    position: relative;
    font-family: var(--ard-font-family);

    .ard-form-field-content-container {
      flex-grow: 1;
      min-height: inherit;

      > * {
        min-height: inherit;
      }
    }
    .ard-form-field-prefix-container,
    .ard-form-field-suffix-container {
      height: max-content;
      max-height: 100%;
      display: flex;
      align-items: center;
    }
    .ard-form-field-prefix-container {
      padding-left: var(--ard-form-field-padding-left, 0.375rem);
    }
    .ard-form-field-suffix-container {
      padding-right: var(--ard-form-field-padding-right, 0.375rem);
    }

    //! compact
    &.ard-compact {
      min-height: ARD.$form-field-compact-height;
    }

    //! appearance & variant
    @include defaultMixins.formAppearances();
    @include defaultMixins.formVariants();
    background: var(--ard-appearance-background);
    border: var(--ard-appearance-border);

    .ard-form-field-overlay {
      background: ARD.$overlay;
      opacity: 0;
    }

    &:hover {
      .ard-form-field-overlay {
        opacity: var(--ard-form-field-hover-overlay-opacity, 3%);
      }
    }
    &.ard-focused {
      .ard-form-field-overlay {
        opacity: var(--ard-form-field-focus-overlay-opacity, 6%);
      }
    }
    &.ard-enable-transitions {
      transition: border-color var(--ard-form-field-transitions-duration, 150ms) ARD.$timing-fn;

      .ard-form-field-overlay {
        transition:
          opacity var(--ard-form-field-transitions-duration, 150ms) ARD.$timing-fn,
          background-color var(--ard-form-field-transitions-duration, 150ms) ARD.$timing-fn;
      }
    }
  }
  .ard-disabled .ard-form-field-frame {
    pointer-events: none;
    opacity: var(--ard-form-field-disabled-opacity, 50%);

    &.ard-appearance-transparent {
      .ard-form-field-overlay {
        opacity: var(--ard-form-field-disabled-transparent-overlay-opacity, 4.5%);
      }
    }
  }
  .ard-readonly .ard-form-field-frame {
    &:hover {
      .ard-form-field-overlay {
        opacity: 0;
      }
    }
  }
}
