@use './mixins' as defaultMixins;
@use '../variables' as ARD;

.ard-form-field-frame {
  box-sizing: border-box;
  min-height: 2.1875rem;
  height: max-content;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: stretch;
  position: relative;
  font-size: 1rem;
  line-height: 1.25em;
  font-family: 'Roboto', sans-serif;

  .ard-form-field-content-container {
    flex-grow: 1;
    min-height: 100%;
  }
  .ard-form-field-prefix-container,
  .ard-form-field-suffix-container {
    height: max-content;
    max-height: 100%;
    display: flex;
    align-items: center;
  }
  .ard-form-field-prefix-container {
    padding-left: 0.375em;
  }
  .ard-form-field-suffix-container {
    padding-right: 0.375em;
  }

  //! compact
  &.ard-compact {
    min-height: 1.6875rem;
    font-size: 0.85rem;
    line-height: 1;
  }

  //! appearance & variant
  @include defaultMixins.formAppearances();
  @include defaultMixins.formVariants();
  background: var(--ard-appearance-background);
  border: var(--ard-appearance-border);
  transition: border-color 0.15s ARD.$timing-fn;

  .ard-form-field-overlay {
    background: ARD.$overlay;
    opacity: 0;
    transition:
      opacity 0.15s ARD.$timing-fn,
      background-color 0.15s ARD.$timing-fn;
  }

  &:hover {
    .ard-form-field-overlay {
      opacity: 3%;
    }
  }
  &.ard-focused {
    .ard-form-field-overlay {
      opacity: 6%;
    }
    border-color: ARD.$border-dark;
  }
}
.ard-disabled .ard-form-field-frame {
  pointer-events: none;
  opacity: 50%;

  &.ard-appearance-transparent {
    .ard-form-field-overlay {
      opacity: 4.5%;
    }
  }
}
