@use '../variables' as ARD;

.ard-kbd-shortcut {
  font-family: var(--ard-font-family-mono);
  color: ARD.$text2;

  > span {
    font-size: 0.9em;
  }
  &.ard-appearance-transparent > span {
    font-size: 0.75em;
  }
}
