@use '../variables' as ARD;

// the variables are commented out intentionally
// read more in docs/dev/css-variables.md
:root {
  // --ard-kbd-font-size: ;
  --ard-kbd-border-radius: 0.1875em;
  --ard-kbd-margin: 0 0.125em;
  --ard-kbd-padding: 0.125em 0.375em;
  --ard-kbd-border-width: 1px;
  --ard-kbd-border-style: solid;
  --ard-kbd-border-color: ;
  --ard-kbd-box-shadow-settings: inset 0 -1px 0;
  // --ard-kbd-box-shadow-color: ;
  // --ard-kbd-bg: ;
  // --ard-kbd-filled-bg: ;
}

@layer ard-theme {
  .ard-kbd {
    border-radius: var(--ard-kbd-border-radius, 0.1875em);
    font-family: var(--ard-font-family-mono);
    font-size: var(--ard-kbd-font-size, 0.875em);
    margin: var(--ard-kbd-margin, 0 0.125em);
    color: ARD.$text2;

    //! appearance
    &.ard-appearance-outlined,
    &.ard-appearance-filled {
      border: var(--ard-kbd-border-width, 1px) var(--ard-kbd-border-style, solid)
        var(--ard-kbd-border-color, #{ARD.$detail-ultralight});
      box-shadow: var(--ard-kbd-box-shadow-settings, inset 0 -1px 0) var(--ard-kbd-box-shadow-color, #{ARD.$detail-light});
      padding: var(--ard-kbd-padding, 0.125em 0.375em);
      background-color: var(--ard-kbd-bg, #{ARD.$bg});
    }
    &.ard-appearance-filled {
      background: var(--ard-kbd-filled-bg, #{ARD.$bg-d});
    }
  }
}
