@use '../variables' as ARD;

.ard-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  place-items: center;

  &.ard-modal-backdrop {
    background: ARD.$darken-overlay-strong;
  }
  .ard-modal-panel {
    padding: 1.25rem;
    padding-top: 1rem;
    background: ARD.$bg;
    max-width: calc(100vw - 4rem);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;

    &.ard-modal-no-heading-text {
      gap: 0.25rem;

      .ard-modal-close-button {
        position: absolute;
        right: 0.5rem;
        top: 0.5rem;
      }
    }
    &.ard-modal-has-close-button {
      .ard-modal-heading {
        padding-right: 2rem;
      }
    }
  }
  .ard-modal-heading {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .ard-modal-heading-text {
      font-size: 1.25rem;
      color: ARD.$text;
      font-weight: 500;
      font-family: Roboto;
    }
    .ard-modal-close-button {
      position: absolute;
      right: 0.5rem;
      top: 0.5rem;
    }
  }
  //! appearances
  &.ard-appearance-raised {
    .ard-modal-panel {
      box-shadow: ARD.$simple-shadow2;
    }
  }
  //! variants
  &.ard-variant-rounded {
    .ard-modal-panel {
      border-radius: 8px;
    }
  }
  &.ard-variant-sharp {
    .ard-modal-panel {
      border-radius: 0;
    }
  }

  //! compact
  &.ard-compact {
    .ard-modal-panel {
      font-size: 90%;
      padding: 0.75rem 2rem 1rem 2rem;
      gap: 1rem;

      &.ard-modal-no-heading-text {
        gap: 0.25rem;

        .ard-modal-close-button {
          position: absolute;
          right: 0.25rem;
          top: 0.25rem;
        }
      }
    }
  }
}
