@use "./coloring" as CM;
@import "../variables";

.ard-progress-bar {
    @include CM.typeColors();
    width: 100%;
    margin: 0.5rem 0;
    overflow: hidden;

    .ard-progress-bar__background,
    .ard-progress-bar__overlay {
        position: absolute;
        background-color: var(--ard-cmpcl--bg-colored);
        top: 0;
        bottom: 0;
        left: 0;
    }
    .ard-progress-bar__background {
        background-color: var(--ard-cmpcl--bg-colored-light);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 30%;
    }
    .ard-progress-bar__overlay {
        width: var(--ard-_progress-bar-main, 0);
    }

    //! variants
    &.ard-variant-sharp {
        border-radius: 0;
    }
    &.ard-variant-pill {
        border-radius: 9999px;
    }

    //! sizes
    &.ard-progress-bar__size-default {
        height: 0.25rem;
    }
    &.ard-progress-bar__size-auto:not(.ard-progress-bar__mode-buffer) {
        height: 100%;
    }

    //! modes
    &.ard-progress-bar__mode-determinate,
    &.ard-progress-bar__mode-buffer {
        .ard-progress-bar__overlay {
            transition: width 0.1s $timing-fn;
        }
    }
    &.ard-progress-bar__mode-indeterminate,
    &.ard-progress-bar__mode-query {
        .ard-progress-bar__overlay {
            position: unset;

            &::before,
            &::after {
                content: "";
                position: absolute;
                background-color: inherit;
                top: 0;
                left: 0;
                bottom: 0;
            }
            &::before {
                animation: indeterminate 2.1s
                    cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
            }
            &::after {
                animation: indeterminate-short 2.1s
                    cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
                animation-delay: 1.15s;
            }
        }
    }
    &.ard-progress-bar__mode-query {
        transform: rotate(180deg);
    }
    &.ard-progress-bar__mode-buffer {
        .ard-progress-bar__background {
            background: none !important;
            left: var(--ard-_progress-bar-buffer, 100%);
            overflow: hidden;

            &::after {
                content: "";
                position: absolute;
                right: -0.5rem;
                top: 0;
                bottom: 0;
                width: 9999px;
                animation: buffer 0.4s linear infinite;
                border-bottom: 0.25rem dotted var(--ard-cmpcl--bg-colored);
            }
        }
        .ard-progress-bar__overlay-buffer {
            background: var(--ard-cmpcl--bg-colored-light);
            position: absolute;
            left: 0;
            width: var(--ard-_progress-bar-buffer, 0);
            top: 0;
            bottom: 0;
            transition: width 0.1s $timing-fn;
        }
    }

    //! hiding the value
    &.ard-progress-bar__size-default,
    &.ard-progress-bar__hide-value,
    &.ard-progress-bar__mode-buffer {
        > .ard-progress-bar__value {
            display: none;
        }
    }

    //! currentColor special case
    &.ard-color-currentColor {
        .ard-progress-bar__background {
            opacity: 22.5%;
            background: var(--ard-cmpcl--bg-colored);
        }
        .ard-progress-bar__overlay-buffer {
            opacity: 30%;
            background: var(--ard-cmpcl--bg-colored);
        }
    }
}

@keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%;
    }
    60% {
        left: 100%;
        right: -90%;
    }
    100% {
        left: 100%;
        right: -90%;
    }
}

@keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%;
    }
    60% {
        left: 107%;
        right: -8%;
    }
    100% {
        left: 107%;
        right: -8%;
    }
}

@keyframes buffer {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-0.5rem);
    }
}
