@use './clear-button' as CB;
@use './mixins' as defaultMixins;

.ard-select {
    min-width: 4.5em;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: stretch;
    gap: 0.625em;
    padding: 0 1em 0 0.375em;
    max-width: 100%;
    height: 2.0625rem;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    
    @include CB.clearButton();
    @include defaultMixins.formAppearances();
    @include defaultMixins.formVariants();
    
    //! appearances
    &.ard-appearance-outlined,
    &.ard-appearance-filled {
        border-radius: var(--ard-variant-border-radius);
    }
    &.ard-appearance-outlined {
        background: $bg;
        border: 1px solid $border;
        transition: border-color 0.2s ease, background-color 0.2s ease;
    }
    &.ard-appearance-filled {
        background: $bg-f;
        border: none;
    }
    &.ard-appearance-transparent {
        background: transparent;
        border: none;
    }
    &.ard-select-focused {
        &.ard-appearance-outlined {
            background: $bg-d;
            border-color: $border-dark;
        }
    }

    //! variants
    &.ard-variant-pill {
        padding-left: 0.8125em;
    }

    //! value container
    .ard-select-value-container {
        position: relative;
        height: 2em;
        display: flex;
        align-items: center;
        gap: 0.375em;
        font-size: 1em;
        text-size-adjust: 100%;
        flex-grow: 1;
        overflow: hidden;

        .ard-placeholder {
            font: inherit;
            position: absolute;
            color: $text3;
            width: max-content;
        }

        .ard-search-input {
            width: 100%;

            input {
                border: none;
                background: transparent;
                outline: none;
                font: inherit;
                padding: 0;
                display: block;
                width: 100%;
            }
        }
    }
    //! single/multiselect
    &.ard-singleselect {
        .ard-value {
            width: max-content;
            white-space: nowrap;
        }
    }
    &:not(.ard-searchable),
    &.ard-singleselect {
        .ard-search-input {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%) translateX(-1px);
            width: max-content;

            input {
                width: max-content;
            }
        }
    }
    &:not(.ard-searchable) .ard-search-input {
        pointer-events: none;
    }
    &.ard-multiselect {
        .ard-select-value-container {
            height: max-content;
            min-height: 2.125em;
            box-sizing: border-box;
            padding: 0.375em 0;
            flex-wrap: wrap;
            justify-content: stretch;

            .ard-chip-wrapper {
                margin: 0;
            }
        }
        .ard-search-input {
            flex-grow: 1;
            width: unset !important;
            min-width: 10ch;

            input {
                width: 10ch !important;
            }
        }
        .ard-chip-wrapper {
            margin: 0;
        }
    }
    //! dropdown arrow
    .ard-dropdown-arrow-wrapper {
        display: flex;
        align-items: center;
        height: max-content;
        width: max-content;
    
        .ard-dropdown-arrow {
            border: calc($dropdown-button-size / 2) solid transparent;
            position: relative;
            cursor: pointer;
            border-bottom-color: $detail;
            border-right-color: $detail;
            transform: rotate(45deg) translate(-17.67771%, -17.67771%);
        }
    }
    &.ard-dropdown-open .ard-dropdown-arrow {
        transform: rotate(45deg) translate(17.67771%, 17.67771%) scaleX(-1) scaleY(-1);
    }

    //! compact
    &.ard-compact {
        font-size: 0.85rem;
        height: 1.5625rem;

        .ard-dropdown-arrow-wrapper .ard-dropdown-arrow {
            border-width: calc($dropdown-button-size / 2.4);
        }
    }
}

//! optgroups & options, divider
.ard-select-dropdown-panel {
    right: 0;
    width: max-content;
    max-width: max(25em, 100%);
    min-width: max(9em, 100%);
    font-size: 1rem;

    .ard-dropdown-panel-items {
        padding: 0.375em 0;
        max-height: 15em;
        overflow: hidden auto;
    }
    .ard-optgroup {
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }
    .ard-optgroup-children {
        cursor: unset;
    }

    .ard-optgroup-label {
        font-size: 0.875em;
        font-weight: 600;
        letter-spacing: 0.25px;
        padding: 0.375em 0.625em 0.0625em 0.625em;
    }

    .ard-option {
        padding: 0.375em 0.625em;
        color: $text2;
        cursor: pointer;

        &.ard-option-highlighted {
            background: $darken-overlay-light;
        }

        &.ard-option-selected {
            font-weight: 500;
            background: $darken-overlay-medium;
        }

        &.ard-option-disabled {
            pointer-events: none;
            opacity: 50%;
        }
    }
    //divider
    hr.ard-divider {
        width: calc(100% - 1.25em);
        margin: 0.375em 0.625em;
        border: none;
        border-bottom: 1px solid $darken-overlay-strong;
    }

    .ard-optgroup:first-child>hr.ard-divider {
        display: none;
    }
    //! custom option
    .ard-add-custom {
        display: flex;
        align-items: flex-end;
        gap: 0.375rem;

        .ard-add-custom-label {
            font-size: 85%;
        }
        .ard-add-custom-value {
            
        }
    }

    //! compact
    > .ard-compact {
        font-size: 0.85rem;
    }
}

//! disabled state
.ard-disabled {
    .ard-select {
        pointer-events: none;
        opacity: 50%;
    }
}