@use './coloring' as CM;

ard-spinner {
  display: inline-block;
  width: 2rem;
  aspect-ratio: 1;
  position: relative;
  margin: 0.25rem;
}

.ard-spinner {
  @include CM.typeColors();
  --ard-_spinner-duration: 1.4s;
  position: absolute;

  scale: 2.3; //magic number

  > circle {
    stroke: var(--ard-cmpcl--content);
  }
}
