@use './mixins' as defaultMixins;
@use './coloring' as coloringMixins;
@use '../variables' as ARD;

.ard-star,
.ard-star-button,
.ard-star-display,
.ard-star-input {
  @include coloringMixins.typeColors();
  color: var(--ard-cmpcl--bg-colored);

  &.ard-color-gold {
    color: ARD.$gold;
  }
}
.ard-star {
  font-size: inherit;
  width: 1.5em;
  height: 1.5em;
  position: relative;
}
.ard-star-display,
.ard-star-input {
  display: flex;
  user-select: none;
}
.ard-star-input {
  cursor: pointer;

  .ard-star-not-in-value {
    opacity: 50%;
  }
}
.ard-star-button {
  position: relative;
  cursor: pointer;
  user-select: none;
  font-size: inherit;
  width: max-content;
  height: max-content;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;

  .ard-hitbox {
    position: absolute;
    left: -4px;
    right: -4px;
    bottom: -4px;
    top: -4px;
  }

  .ard-focus-overlay {
    @include defaultMixins.focus-overlay;
    position: absolute;
    left: -0.125em;
    right: -0.125em;
    bottom: -0.125em;
    top: -0.125em;
    border-radius: 999px;
    background: currentColor;
  }
  @include defaultMixins.focus-overlay-scale-addon();
  &:hover,
  &:focus {
    .ard-focus-overlay {
      opacity: 10%;
    }
  }
  &:active {
    .ard-focus-overlay {
      opacity: 20%;
    }
  }
}
//! disabled state for star-button
.ard-disabled {
  > .ard-star-button,
  > .ard-star-input {
    pointer-events: none;
    opacity: 50%;
  }
}
