@use './mixins' as defaultMixins;
@use './coloring' as coloringMixins;
@use '../variables' as ARD;

@layer ard-ui {
  // the variables are commented out intentionally
  // read more in docs/dev/css-variables.md
  :root {
    --ard-star-size: 1.5em;

    --ard-star-button-hitbox-offset: -4px;
    --ard-star-button-overlay-offset: -0.125em;
    --ard-star-button-hover-overlay-opacity: 10%;
    --ard-star-button-focus-overlay-opacity: 0;
    --ard-star-button-focus-visible-overlay-opacity: 30%;
    --ard-star-button-active-overlay-opacity: 20%;
    --ard-star-button-disabled-opacity: 50%;

    --ard-rating-input-not-in-value-opacity: 50%;
    --ard-rating-input-disabled-opacity: 50%;

    // --ard-star-button-readonly-cursor: ;
    // --ard-rating-input-readonly-cursor: ;
  }

  .ard-star,
  .ard-star-button,
  .ard-rating-display,
  .ard-rating-input {
    @include coloringMixins.typeColors();
    color: var(--ard-cmpcl--bg-colored);

    &.ard-color-gold {
      color: ARD.$gold;
    }
  }
  .ard-star {
    font-size: inherit;
    width: var(--ard-star-size, 1.5em);
    height: var(--ard-star-size, 1.5em);
    position: relative;
  }
  .ard-rating-display,
  .ard-rating-input {
    display: flex;
    user-select: none;
  }
  .ard-rating-input {
    cursor: pointer;

    .ard-star-not-in-value {
      opacity: var(--ard-rating-input-not-in-value-opacity, 50%);
    }
  }
  .ard-star-button {
    position: relative;
    cursor: pointer;
    user-select: none;
    font-size: inherit;
    width: max-content;
    height: max-content;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;

    .ard-hitbox {
      position: absolute;
      left: var(--ard-star-button-hitbox-offset, -4px);
      right: var(--ard-star-button-hitbox-offset, -4px);
      bottom: var(--ard-star-button-hitbox-offset, -4px);
      top: var(--ard-star-button-hitbox-offset, -4px);
    }

    .ard-focus-overlay {
      @include defaultMixins.focus-overlay;
      position: absolute;
      left: var(--ard-star-button-overlay-offset, -0.125em);
      right: var(--ard-star-button-overlay-offset, -0.125em);
      bottom: var(--ard-star-button-overlay-offset, -0.125em);
      top: var(--ard-star-button-overlay-offset, -0.125em);
      border-radius: 999px;
      background: currentColor;
    }
    @include defaultMixins.focus-overlay-scale-addon();

    &:hover {
      .ard-focus-overlay {
        opacity: var(--ard-star-button-hover-overlay-opacity, 10%);
      }
    }
    &:focus {
      .ard-focus-overlay {
        opacity: var(--ard-star-button-focus-overlay-opacity, 0%);
      }
    }
    &:focus-visible {
      .ard-focus-overlay {
        opacity: var(--ard-star-button-focus-visible-overlay-opacity, 30%);
      }
    }
    &:active {
      .ard-focus-overlay {
        opacity: var(--ard-star-button-active-overlay-opacity, 20%);
      }
    }
  }
  //! disabled state for star-button
  .ard-disabled {
    > .ard-star-button {
      pointer-events: none;
      opacity: var(--ard-star-button-disabled-opacity, 50%);
    }
    > .ard-rating-input {
      pointer-events: none;
      opacity: var(--ard-rating-input-disabled-opacity, 50%);
    }
  }
  //! readonly state for star-button and rating-input
  .ard-readonly {
    > .ard-star-button {
      cursor: var(--ard-star-button-readonly-cursor, var(--ard-readonly-cursor, default));

      .ard-focus-overlay {
        display: none;
      }
    }
    > .ard-rating-input {
      cursor: var(--ard-rating-input-readonly-cursor, var(--ard-readonly-cursor, default));
    }
  }
}
