

.ard-pagination {
    height: 2.9375rem;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 0 0.5rem 0 1rem;
    box-sizing: border-box;

    .ard-pagination__items-per-page {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
    .ard-pagination__current-page {
        display: flex;
        align-items: center;
        gap: 1.25rem;
    }

    //! compact
    &.ard-compact {
        height: 2.1875rem;
        font-size: 0.875rem;
    }

    //! aligns
    &.ard-align-left {
        justify-content: flex-start;
    }
    &.ard-align-center {
        justify-content: center;
    }
    &.ard-align-right {
        justify-content: flex-end;
    }
    &.ard-align-split {
        justify-content: space-between;
    }
    
    //! style overrides
    .ard-select {
        padding-left: 0.875em;
    }
}

.ard-disabled {
    .ard-pagination {
        pointer-events: none;
        user-select: none;

        .ard-pagination__text {
            opacity: 50%;
        }
    }
}