<div class="master">
    <span class="title">Basic color display</span>
    <div>
        <ard-color-display color="red"></ard-color-display>
    </div>
</div>
<div class="master">
    <span class="title">Color display with aria-label</span>
    <div>
        <ard-color-display color="#80a906" ariaLabel="Green-ish color"></ard-color-display>
    </div>
</div>
<div class="master">
    <span class="title">Color display appearance</span>
    <div class="flex horiz">
        <ard-color-display color="#80a906" appearance="circle with-border"></ard-color-display>
        <span>#80a906</span>
    </div>
</div>
<div class="master">
    <span class="title">Animated color display</span>
    <div>
        <ard-color-display [color]="color$ | async" ariaLabel="Animated rainbow color display"></ard-color-display>
    </div>
</div>
<div class="master">
    <span class="title">Appearance table</span>
    <div class="grid">
        <ard-color-display
            *ngFor="let appearance of appearances"
            color="red"
            [appearance]="appearance"
        ></ard-color-display>
    </div>
</div>