@import '../../variables';

/**
 * Should be applied to the first element in the component's template.
 */
@mixin genericInput() {
    position: relative;
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    justify-content: stretch;
    gap: 10px;
    cursor: text;

    .ard-input-container {
        flex-grow: 1;
        height: 36px;
        font-size: 16px;
        line-height: 20px;
        text-size-adjust: 100%;
        display: flex;
        align-items: center;

        .ard-placeholder {
            font: inherit;
            opacity: 60%;
        }

        input {
            border: none;
            background: transparent;
            outline: none;
            font: inherit;
            padding: 0;
            display: block;
            width: 100%;
        }
    }
}