@use './shared' as inputMixin;
@use '../mixins' as defaultMixins;
@use '../clear-button' as CB;
@use '../../variables' as ARD;

:root {
  --ard-hex-input-height: ;
  --ard-hex-input-height-compact: ;
  --ard-hex-input-gap: 0.625rem;
  --ard-hex-input-font-size: ;
  --ard-hex-input-font-size-compact: ;
  --ard-hex-input-line-height: 1.25;
  --ard-hex-input-line-height-compact: 1;
  --ard-hex-input-font-weight: 400;
  --ard-hex-input-padding: ;
  --ard-hex-input-padding-compact: ;
  --ard-hex-input-color: ;
  --ard-hex-input-placeholder-color: ;
  --ard-hex-input-placeholder-opacity: 60%;

  --ard-hex-input-min-width: 10rem;
  --ard-hex-input-max-width: 100%;
  --ard-hex-input-hash-margin: 0 0 -0.5rem 0;
  --ard-hex-input-hash-color: ;
  --ard-hex-input-hash-opacity: 70%;
}

.ard-hex-input {
  @include inputMixin.genericInput(
    var(--ard-autocomplete-input-height, var(--ard-form-field-height, 2.3125rem)),
    var(--ard-autocomplete-input-height-compact, var(--ard-form-field-height-compact, 1.6875rem)),
    var(--ard-autocomplete-input-gap, 0.625rem),
    var(--ard-autocomplete-input-font-size, var(--ard-form-field-font-size, 1rem)),
    var(--ard-autocomplete-input-font-size-compact, var(--ard-form-field-font-size-compact, 0.875rem)),
    var(--ard-autocomplete-input-line-height, 1.25),
    var(--ard-autocomplete-input-line-height-compact, 1),
    var(--ard-autocomplete-input-font-weight, 400),
    var(--ard-autocomplete-input-padding, var(--ard-form-field-padding, 0 0.375rem)),
    var(--ard-autocomplete-input-padding-compact, var(--ard-form-field-padding-compact, 0 0.375rem)),
    var(--ard-autocomplete-input-color, #{ARD.$text}),
    var(--ard-autocomplete-input-placeholder-color, #{ARD.$text}),
    var(--ard-autocomplete-input-placeholder-opacity, 60%)
  );
  min-width: var(--ard-hex-input-min-width, 10rem);
  max-width: var(--ard-hex-input-max-width, 100%);

  @include CB.clearButton();

  .ard-input-container {
    input {
      font-family: var(--ard-font-family-mono);
    }
  }

  .ard-hash-container {
    margin: var(--ard-hex-input-hash-margin, 0 0 -0.5rem 0);
    color: var(--ard-hex-input-hash-color, #{ARD.$text});
    opacity: var(--ard-hex-input-hash-opacity, 70%);
    user-select: none;
    font-family: var(--ard-font-family-mono);
  }
}
