@use './shared' as inputMixin;
@use '../mixins' as defaultMixins;
@use '../clear-button' as CB;

.ard-hex-input {
    @include inputMixin.genericInput();
    padding: 0 0.375rem;
    min-width: 10rem;
    max-width: 100%;

    @include defaultMixins.formAppearances();
    @include defaultMixins.formVariants();
    background: var(--ard-appearance-background);
    border: var(--ard-appearance-border);

    @include CB.clearButton();

    .ard-input-container {
        margin-left: -0.25rem;

        input {
            font-family: monospace;
        }
    }

    .ard-hash-container {
        color: $text3;
        opacity: 70%;
        // user-select: none;
        font-family: monospace;
    }
}
//! disabled state
.ard-disabled {
    .ard-hex-input {
        pointer-events: none;
        opacity: 50%;
    }
}