@use './shared' as inputMixin;
@use '../mixins' as defaultMixins;
@use '../clear-button' as CB;

.ard-input {
    @include inputMixin.genericInput();
    padding: 0 6px;
    min-width: 10rem;
    max-width: 100%;
    
    
    @include defaultMixins.formAppearances();
    @include defaultMixins.formVariants();
    background: var(--ard-appearance-background);
    border: var(--ard-appearance-border);
    
    @include CB.clearButton();

    .ard-suggestion {
        opacity: 37.5%;
    }
}
.ard-disabled {
    .ard-input {
        pointer-events: none;
        opacity: 50%;
    }
}