@use './shared' as inputMixin;
@use '../mixins' as defaultMixins;
@use '../clear-button' as CB;
@use '../../variables' as ARD;

:root {
  --ard-input-height: var(--ard-form-field-height, 2.3125rem);
  --ard-input-height-compact: var(--ard-form-field-height-compact, 1.6875rem);
  --ard-input-gap: 0.625rem;
  --ard-input-font-size: var(--ard-form-field-font-size, 1rem);
  --ard-input-font-size-compact: var(--ard-form-field-font-size-compact, 0.875rem);
  --ard-input-line-height: 1.25;
  --ard-input-line-height-compact: 1;
  --ard-input-font-weight: 400;
  --ard-input-padding: var(--ard-form-field-padding, 0 0.375rem);
  --ard-input-padding-compact: var(--ard-form-field-padding-compact, 0 0.375rem);
  --ard-input-color: #{ARD.$text};
  --ard-input-placeholder-color: #{ARD.$text};
  --ard-input-placeholder-opacity: 60%;

  --ard-input-min-width: 10rem;
  --ard-input-max-width: 100%;
}

.ard-input {
  @include inputMixin.genericInput(
    var(--ard-input-height, var(--ard-form-field-height, 2.3125rem)),
    var(--ard-input-height-compact, var(--ard-form-field-height-compact, 1.6875rem)),
    var(--ard-input-gap, 0.625rem),
    var(--ard-input-font-size, var(--ard-form-field-font-size, 1rem)),
    var(--ard-input-font-size-compact, var(--ard-form-field-font-size-compact, 0.875rem)),
    var(--ard-input-line-height, 1.25),
    var(--ard-input-line-height-compact, 1),
    var(--ard-input-font-weight, 400),
    var(--ard-input-padding, var(--ard-form-field-padding, 0 0.375rem)),
    var(--ard-input-padding-compact, var(--ard-form-field-padding-compact, 0 0.375rem)),
    var(--ard-input-color, #{ARD.$text}),
    var(--ard-input-placeholder-color, #{ARD.$text}),
    var(--ard-input-placeholder-opacity, 60%)
  );
  min-width: var(--ard-input-min-width, 10rem);
  max-width: var(--ard-input-max-width, 100%);

  @include CB.clearButton();
}
