@use './shared' as inputMixin;
@use '../mixins' as defaultMixins;

.ard-number-input {
    @include inputMixin.genericInput();
    @include defaultMixins.formAppearances();
    width: max-content;
    max-width: 100%;
    gap: 0;

    .ard-quick-change-button {
        position: relative;

        .ard-button {
            height: 36px;
            width: 36px;
            padding: 0;
            border-color: $border;
            display: flex;
            justify-content: center;
            margin: 0;
        }
        &.ard-disabled .ard-focus-overlay {
            opacity: 0;
        }
        
        &.decrement {
            left: 1px;
            
            .ard-button {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
        &.increment {
            right: 1px;

            .ard-button {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }

    //! variants
    &.ard-variant-rounded {
        border-radius: 8px;
    }
    &.ard-variant-sharp {
        border-radius: 0;
    }
    &.ard-variant-pill {
        @include defaultMixins.formAppearances();

        border-radius: 999px;

        .ard-button {
            border-radius: 999px !important;
            height: 30px;
            width: 30px;
            margin: 0 2px;
        }
    }

    //! variant-specific appearances
    &.ard-variant-rounded,
    &.ard-variant-sharp {
        &:not(.ard-appearance-filled) .ard-input-container {
            box-sizing: border-box;
            background: var(--ard-appearance-background);
            border: var(--ard-appearance-border);
        }
        &.ard-appearance-filled {
            background: var(--ard-appearance-background);
            border: var(--ard-appearance-border);
        }
    }
    &.ard-variant-pill {
        background: var(--ard-appearance-background);
        border: var(--ard-appearance-border);
    }
}

.ard-disabled {
    > .ard-number-input {
        pointer-events: none;
        opacity: 50%;

        .ard-button .ard-focus-overlay {
            opacity: 0;
        }

        background: $bg-f;
    }
}