@use './shared' as inputMixin;
@use '../mixins' as defaultMixins;
@use '../../variables' as ARD;

:root {
  --ard-number-input-height: ;
  --ard-number-input-height-compact: ;
  --ard-number-input-gap: 0.625rem;
  --ard-number-input-font-size: ;
  --ard-number-input-font-size-compact: ;
  --ard-number-input-line-height: 1.25;
  --ard-number-input-line-height-compact: 1;
  --ard-number-input-font-weight: 400;
  --ard-number-input-padding: ;
  --ard-number-input-padding-compact: ;
  --ard-number-input-color: ;
  --ard-number-input-placeholder-color: ;
  --ard-number-input-placeholder-opacity: 60%;

  --ard-number-input-width: 9.5rem;
  --ard-number-input-rounded-border-radius: 8px;
}

ard-number-input {
  width: var(--ard-number-input-width, 9.5rem);
}

.ard-number-input {
  @include inputMixin.genericInput(
    var(--ard-number-input-height, var(--ard-form-field-height, 2.3125rem)),
    var(--ard-number-input-height-compact, var(--ard-form-field-height-compact, 1.6875rem)),
    var(--ard-number-input-gap, 0.625rem),
    var(--ard-number-input-font-size, var(--ard-form-field-font-size, 1rem)),
    var(--ard-number-input-font-size-compact, var(--ard-form-field-font-size-compact, 0.875rem)),
    var(--ard-number-input-line-height, 1.25),
    var(--ard-number-input-line-height-compact, 1),
    var(--ard-number-input-font-weight, 400),
    var(--ard-number-input-padding, var(--ard-form-field-padding, 0 0.375rem)),
    var(--ard-number-input-padding-compact, var(--ard-form-field-padding-compact, 0 0.375rem)),
    var(--ard-number-input-color, #{ARD.$text}),
    var(--ard-number-input-placeholder-color, #{ARD.$text}),
    var(--ard-number-input-placeholder-opacity, 60%)
  );
  @include defaultMixins.formAppearances();
  min-height: var(--ard-form-field-height, var(--ard-number-input-height, 2.3125rem));
  gap: 0;
  width: 100%;

  .ard-input-container {
    height: 100%;
    max-width: 100%;
    padding: var(--ard-number-input-padding, var(--ard-form-field-padding, 0 0.375rem));

    & > input {
      width: 100%;
    }
  }
  .ard-placeholder {
    padding: var(--ard-number-input-padding, var(--ard-form-field-padding, 0 0.375rem));
  }

  .ard-quick-change-button {
    position: relative;
    min-width: var(--ard-number-input-height, var(--ard-form-field-height, 2.3125rem));

    .ard-button {
      height: 100%;
      aspect-ratio: 1;
      padding: 0;
      border-color: var(--ard-appearance-border-color);
      display: flex;
      justify-content: center;
      margin: 0;
    }
    &.ard-disabled .ard-focus-overlay {
      opacity: 0;
    }

    &.decrement {
      left: 1px;

      .ard-button {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
    &.increment {
      right: 1px;

      .ard-button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }

  //! variants
  &.ard-variant-rounded {
    border-radius: var(--ard-number-input-rounded-border-radius, 8px);

    &.ard-quick-change-false {
      .ard-input-container {
        border-radius: var(--ard-number-input-rounded-border-radius, 8px);
      }
    }
  }
  &.ard-variant-sharp {
    border-radius: 0;
  }
  &.ard-variant-pill {
    border-radius: 9999px;

    .ard-button {
      border-radius: 9999px !important;
      width: var(--ard-number-input-height, var(--ard-form-field-height, 2.3125rem));
      height: var(--ard-number-input-height, var(--ard-form-field-height, 2.3125rem));
      margin: 0 2px;
    }

    &.ard-quick-change-false {
      .ard-input-container {
        border-radius: 9999px;
      }
    }
  }

  //! variant-specific appearances
  &.ard-variant-rounded,
  &.ard-variant-sharp {
    &:not(.ard-appearance-filled) .ard-input-container {
      box-sizing: border-box;
      background: var(--ard-appearance-background);
      border: var(--ard-appearance-border);
    }
    &.ard-appearance-filled {
      background: var(--ard-appearance-background);
      border: var(--ard-appearance-border);
    }
  }
  &.ard-variant-pill {
    background: var(--ard-appearance-background);
    border: var(--ard-appearance-border);
  }

  //! compact
  &.ard-compact {
    .ard-input-container {
      padding: var(--ard-number-input-padding-compact, var(--ard-form-field-padding-compact, 0 0.375rem));
    }
    .ard-placeholder {
      padding: var(--ard-number-input-padding-compact, var(--ard-form-field-padding-compact, 0 0.375rem));
    }
    .ard-quick-change-button {
      min-width: var(--ard-number-input-height-compact, var(--ard-form-field-height-compact, 1.6875rem));
    }
  }
}

.ard-disabled {
  > .ard-number-input {
    pointer-events: none;
    opacity: 50%;

    .ard-button .ard-focus-overlay {
      opacity: 0;
    }

    background: ARD.$bg-f;
  }
}
