@use './shared' as inputMixin;
@use '../mixins' as defaultMixins;
@use '../../variables' as ARD;

@layer ard-theme {
  // the variables are commented out intentionally
  // read more in docs/dev/css-variables.md
  :root {
    // --ard-number-input-height: ;
    // --ard-number-input-height-compact: ;
    --ard-number-input-gap: 0.625rem;
    // --ard-number-input-font-size: ;
    // --ard-number-input-font-size-compact: ;
    --ard-number-input-line-height: 1.25;
    --ard-number-input-line-height-compact: 1;
    --ard-number-input-font-weight: 400;
    // --ard-number-input-padding-top: ;
    // --ard-number-input-padding-right: ;
    // --ard-number-input-padding-bottom: ;
    // --ard-number-input-padding-left: ;
    // --ard-number-input-padding-top-compact: ;
    // --ard-number-input-padding-right-compact: ;
    // --ard-number-input-padding-bottom-compact: ;
    // --ard-number-input-padding-left-compact: ;
    // --ard-number-input-color: ;
    // --ard-number-input-placeholder-color: ;
    --ard-number-input-placeholder-opacity: 60%;
    --ard-number-input-disabled-opacity: 50%;
    // --ard-number-input-width: ;
    --ard-number-input-rounded-border-radius: 8px;
  }

  ard-number-input {
    width: var(--ard-number-input-width, unset);
  }

  .ard-number-input {
    @include inputMixin.genericInput(
      var(--ard-number-input-height, var(--ard-form-field-height, 2.3125rem)),
      var(--ard-number-input-height-compact, var(--ard-form-field-height-compact, 1.6875rem)),
      var(--ard-number-input-gap, 0.625rem),
      var(--ard-number-input-font-size, var(--ard-form-field-font-size, 1rem)),
      var(--ard-number-input-font-size-compact, var(--ard-form-field-font-size-compact, 0.875rem)),
      var(--ard-number-input-line-height, 1.25),
      var(--ard-number-input-line-height-compact, 1),
      var(--ard-number-input-font-weight, 400),
      var(--ard-number-input-padding-top, var(--ard-form-field-padding-top, 0)),
      var(--ard-number-input-padding-right, var(--ard-form-field-padding-right, 0.375rem)),
      var(--ard-number-input-padding-bottom, var(--ard-form-field-padding-bottom, 0)),
      var(--ard-number-input-padding-left, var(--ard-form-field-padding-left, 0.375rem)),
      var(--ard-number-input-padding-top-compact, var(--ard-form-field-padding-top-compact, 0)),
      var(--ard-number-input-padding-right-compact, var(--ard-form-field-padding-right-compact, 0.375rem)),
      var(--ard-number-input-padding-bottom-compact, var(--ard-form-field-padding-bottom-compact, 0)),
      var(--ard-number-input-padding-left-compact, var(--ard-form-field-padding-left-compact, 0.375rem)),
      var(--ard-number-input-color, #{ARD.$text}),
      var(--ard-number-input-placeholder-color, #{ARD.$text}),
      var(--ard-number-input-placeholder-opacity, 60%)
    );
    @include defaultMixins.formAppearances();
    gap: 0;
    width: 100%;

    .ard-number-input-wrapper {
      flex-grow: 1;
      text-size-adjust: 100%;
      display: flex;
      align-items: center;
      height: 100%;
    }
    .ard-input-container {
      position: relative;
      padding-left: var(--ard-number-input-padding-left, var(--ard-form-field-padding-left, 0.375rem));
      padding-right: var(--ard-number-input-padding-right, var(--ard-form-field-padding-right, 0.375rem));
      padding-top: var(--ard-number-input-padding-top, var(--ard-form-field-padding-top, 0));
      padding-bottom: var(--ard-number-input-padding-bottom, var(--ard-form-field-padding-bottom, 0));
    }

    //! prefix & suffix
    .ard-number-input-prefix-container,
    .ard-number-input-suffix-container {
      height: max-content;
      max-height: 100%;
      display: flex;
      align-items: center;
    }
    .ard-number-input-prefix-container {
      padding-left: var(--ard-number-input-padding-left, 0.375rem);
    }
    .ard-number-input-suffix-container {
      padding-right: var(--ard-number-input-padding-right, 0.375rem);
    }

    //! buttons
    .ard-quick-change-button {
      position: relative;
      min-width: var(--ard-number-input-height, var(--ard-form-field-height, 2.3125rem));

      .ard-button {
        height: 100%;
        aspect-ratio: 1;
        padding: 0;
        border-color: var(--ard-appearance-border-color);
        display: flex;
        justify-content: center;
        margin: 0;
      }
      &.ard-disabled .ard-focus-overlay {
        opacity: 0;
      }

      &.decrement {
        left: 1px;

        .ard-button {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
      &.increment {
        right: 1px;

        .ard-button {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }

    //! variants
    &.ard-variant-rounded {
      border-radius: var(--ard-number-input-rounded-border-radius, 8px);

      &.ard-quick-change-false {
        .ard-number-input-wrapper {
          border-radius: var(--ard-number-input-rounded-border-radius, 8px);
        }
      }
    }
    &.ard-variant-sharp {
      border-radius: 0;
    }
    &.ard-variant-pill {
      border-radius: 9999px;

      .ard-button {
        border-radius: 9999px !important;
        width: var(--ard-number-input-height, var(--ard-form-field-height, 2.3125rem));
        height: var(--ard-number-input-height, var(--ard-form-field-height, 2.3125rem));
        margin: 0 2px;
      }

      &.ard-quick-change-false {
        .ard-number-input-wrapper {
          border-radius: 9999px;
        }
      }
    }

    //! variant-specific appearances
    &.ard-variant-rounded,
    &.ard-variant-sharp {
      &:not(.ard-appearance-filled) .ard-number-input-wrapper {
        box-sizing: border-box;
        background: var(--ard-appearance-background);
        border: var(--ard-appearance-border);
      }
      &.ard-appearance-filled {
        background: var(--ard-appearance-background);
        border: var(--ard-appearance-border);
      }
    }
    &.ard-variant-pill {
      background: var(--ard-appearance-background);
      border: var(--ard-appearance-border);
    }

    //! compact
    &.ard-compact {
      .ard-number-input-wrapper {
        padding-left: var(--ard-number-input-padding-left-compact, var(--ard-form-field-padding-left-compact, 0.375rem));
        padding-right: var(--ard-number-input-padding-right-compact, var(--ard-form-field-padding-right-compact, 0.375rem));
        padding-top: var(--ard-number-input-padding-top-compact, var(--ard-form-field-padding-top-compact, 0));
        padding-bottom: var(--ard-number-input-padding-bottom-compact, var(--ard-form-field-padding-bottom-compact, 0));
      }
      .ard-quick-change-button {
        min-width: var(--ard-number-input-height-compact, var(--ard-form-field-height-compact, 1.6875rem));
      }
    }
  }

  .ard-disabled {
    > .ard-number-input {
      pointer-events: none;
      opacity: var(--ard-number-input-disabled-opacity, 50%);

      .ard-button .ard-focus-overlay {
        opacity: 0;
      }

      background: ARD.$bg-f;
    }
  }
}
