@use './shared' as inputMixin;
@use '../mixins' as defaultMixins;
@use '../clear-button' as CB;
@use '../../variables' as ARD;

@layer ard-theme {
  // the variables are commented out intentionally
  // read more in docs/dev/css-variables.md
  :root {
    // --ard-password-input-height: ;
    // --ard-password-input-height-compact: ;
    --ard-password-input-gap: 0.625rem;
    // --ard-password-input-font-size: ;
    // --ard-password-input-font-size-compact: ;
    --ard-password-input-line-height: 1.25;
    --ard-password-input-line-height-compact: 1;
    --ard-password-input-font-weight: 400;
    // --ard-password-input-padding-top: ;
    // --ard-password-input-padding-right: ;
    // --ard-password-input-padding-bottom: ;
    // --ard-password-input-padding-left: ;
    // --ard-password-input-padding-top-compact: ;
    // --ard-password-input-padding-right-compact: ;
    // --ard-password-input-padding-bottom-compact: ;
    // --ard-password-input-padding-left-compact: ;
    // --ard-password-input-color: ;
    // --ard-password-input-placeholder-color: ;
    --ard-password-input-placeholder-opacity: 60%;

    --ard-password-input-min-width: 10rem;
    --ard-password-input-max-width: 100%;
    --ard-password-input-disabled-opacity: 50%;
    --ard-password-input-reveal-button-margin: 0.125rem;
    --ard-password-input-reveal-button-font-size: 0.8rem;
    --ard-password-input-reveal-button-height: calc(100% - 0.25rem);
    --ard-password-input-reveal-button-width: unset;
    --ard-password-input-reveal-button-aspect-ratio: 1;
    --ard-password-input-reveal-button-padding: 0;
    // --ard-password-input-reveal-button-color: ;
    --ard-password-input-reveal-button-border-radius: 9999px;
    --ard-password-input-reveal-button-border: none;
    --ard-password-input-reveal-button-background: transparent;
    --ard-password-input-reveal-button-hover-background: rgba(0, 0, 0, 4%);
    --ard-password-input-reveal-button-focus-background: rgba(0, 0, 0, 12%);
    --ard-password-input-reveal-button-active-background: rgba(0, 0, 0, 20%);
  }

  .ard-password-input {
    @include inputMixin.genericInput(
      var(--ard-password-input-height, var(--ard-form-field-height, 2.3125rem)),
      var(--ard-password-input-height-compact, var(--ard-form-field-height-compact, 1.6875rem)),
      var(--ard-password-input-gap, 0.625rem),
      var(--ard-password-input-font-size, var(--ard-form-field-font-size, 1rem)),
      var(--ard-password-input-font-size-compact, var(--ard-form-field-font-size-compact, 0.875rem)),
      var(--ard-password-input-line-height, 1.25),
      var(--ard-password-input-line-height-compact, 1),
      var(--ard-password-input-font-weight, 400),
      var(--ard-password-input-padding-top, var(--ard-form-field-padding-top, 0)),
      var(--ard-password-input-padding-right, var(--ard-form-field-padding-right, 0.375rem)),
      var(--ard-password-input-padding-bottom, var(--ard-form-field-padding-bottom, 0)),
      var(--ard-password-input-padding-left, var(--ard-form-field-padding-left, 0.375rem)),
      var(--ard-password-input-padding-top-compact, var(--ard-form-field-padding-top-compact, 0)),
      var(--ard-password-input-padding-right-compact, var(--ard-form-field-padding-right-compact, 0.375rem)),
      var(--ard-password-input-padding-bottom-compact, var(--ard-form-field-padding-bottom-compact, 0)),
      var(--ard-password-input-padding-left-compact, var(--ard-form-field-padding-left-compact, 0.375rem)),
      var(--ard-password-input-color, #{ARD.$text}),
      var(--ard-password-input-placeholder-color, #{ARD.$text}),
      var(--ard-password-input-placeholder-opacity, 60%)
    );
    min-width: var(--ard-password-input-min-width, 10rem);
    max-width: var(--ard-password-input-max-width, 100%);

    &.ard-revealable {
      padding-right: 0;
    }

    .ard-reveal-button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: var(--ard-password-input-reveal-button-padding, 0);
      color: var(--ard-password-input-reveal-button-color, #{ARD.$text});
      margin: var(--ard-password-input-reveal-button-margin, 0.125rem);
      height: var(--ard-password-input-reveal-button-height, calc(100% - 0.25rem));
      width: var(--ard-password-input-reveal-button-width, unset);
      aspect-ratio: var(--ard-password-input-reveal-button-aspect-ratio, 1);
      font-size: var(--ard-password-input-reveal-button-font-size, 0.8rem);
      border-radius: var(--ard-password-input-reveal-button-border-radius, 9999px);
      border: var(--ard-password-input-reveal-button-border, none);
      background: var(--ard-password-input-reveal-button-background, transparent);
      outline: none;
      cursor: pointer;

      transition: background-color 0.2s ARD.$timing-fn;

      &:hover {
        background: var(--ard-password-input-reveal-button-hover-background, rgba(0, 0, 0, 4%));
      }
      &:focus {
        background: var(--ard-password-input-reveal-button-focus-background, rgba(0, 0, 0, 12%));
      }
      &:active {
        background: var(--ard-password-input-reveal-button-active-background, rgba(0, 0, 0, 20%));
      }
    }
  }
  //! disabled state
  .ard-disabled {
    .ard-password-input {
      pointer-events: none;
      opacity: var(--ard-password-input-disabled-opacity, 50%);
    }
  }
}
