@use './shared' as inputMixin;
@use '../clear-button' as CB;

.ard-simple-input {
    @include inputMixin.genericInput();
    padding: 0 6px;
    min-width: 10rem;
    max-width: 100%;
    
    @include inputMixin.inputAppearances();
    @include inputMixin.inputVariants();
    background: var(--ard-appearance-background);
    border: var(--ard-appearance-border);
    
    @include CB.clearButton();
}
//! disabled state
.ard-disabled {
    .ard-simple-input {
        pointer-events: none;
        opacity: 50%;
    }
}