<div class="master flex">
  <span class="title">Basic button group</span>
  <ard-button-group>
    <ard-button appearance="outlined">Button 1</ard-button>
    <ard-button appearance="outlined">Button 2</ard-button>
    <ard-button appearance="outlined">Button 3</ard-button>
  </ard-button-group>
</div>
<div class="master flex">
  <span class="title">Button group with different button styles</span>
  <ard-button-group>
    <ard-button appearance="outlined">Component</ard-button>
    <button
      ard-button
      appearance="outlined"
    >
      Element
    </button>
    <a
      ard-button
      appearance="outlined"
      >Link</a
    >
  </ard-button-group>
</div>
<div class="master flex">
  <span class="title">Button group with separators</span>
  <ard-button-group>
    <ard-button
      appearance="flat"
      color="none"
      >Button 1</ard-button
    >
    <ard-divider
      flexItem
      vertical
    />
    <ard-button
      appearance="flat"
      color="none"
      >Button 2</ard-button
    >
    <ard-divider
      flexItem
      vertical
    />
    <ard-button
      appearance="flat"
      color="none"
      >Button 3</ard-button
    >
  </ard-button-group>
</div>
<div class="master flex">
  <span class="title">Nested button group</span>
  <ard-button-group>
    <ard-button-group>
      <ard-button appearance="outlined">Button 1</ard-button>
      <ard-button appearance="outlined">Button 2</ard-button>
    </ard-button-group>
    <ard-button-group>
      <ard-button appearance="outlined">Button 3</ard-button>
      <ard-button appearance="outlined">Button 4</ard-button>
    </ard-button-group>
    <ard-button appearance="outlined">Button 5</ard-button>
    <ard-button appearance="outlined">Button 6</ard-button>
  </ard-button-group>
</div>
<div class="master flex">
  <span class="title">Vertical button group</span>
  <ard-button-group vertical>
    <ard-button appearance="outlined">Button 1</ard-button>
    <ard-button appearance="outlined">Button 2</ard-button>
  </ard-button-group>
</div>
<div class="master flex">
  <span class="title">Buttons and button groups inheriting compact setting</span>
  <ard-button-group compact>
    <ard-button appearance="outlined">Button 1</ard-button>
    
    <ard-button-group>
      <ard-button appearance="outlined">Button 2</ard-button>
      <ard-button appearance="outlined">Button 3</ard-button>
    </ard-button-group>
  </ard-button-group>
</div>
<div class="master flex">
  <span class="title">Buttons and button groups inheriting vertical setting</span>
  <ard-button-group vertical>
    <ard-button appearance="outlined">Button 1</ard-button>
    
    <ard-button-group>
      <ard-button appearance="outlined">Button 2</ard-button>
      <ard-button appearance="outlined">Button 3</ard-button>
    </ard-button-group>
  </ard-button-group>
</div>
<div class="master flex">
  <span class="title">Button group with buttons of different sizes</span>
  <ard-button-group>
    <ard-button appearance="outlined">Button with very long text</ard-button>
    <ard-button appearance="outlined">Button 2</ard-button>
    <ard-button appearance="outlined" square>Sq</ard-button>
  </ard-button-group>
</div>
<div class="master flex">
  <span class="title">Vertical button group with buttons of different sizes</span>
  <ard-button-group vertical>
    <ard-button appearance="outlined">Button with very long text</ard-button>
    <ard-button appearance="outlined">Button 2</ard-button>
    <ard-button appearance="outlined" square>Sq</ard-button>
  </ard-button-group>
</div>
<div class="master flex">
  <span class="title">Nested button group with transparent buttons</span>
  <ard-button-group>
    <ard-button-group>
      <ard-button appearance="transparent" color="none">Button 1</ard-button>
      <ard-button appearance="transparent" color="none">Button 2</ard-button>
    </ard-button-group>
    <ard-button-group>
      <ard-button appearance="transparent" color="none">Button 3</ard-button>
      <ard-button appearance="transparent" color="none">Button 4</ard-button>
    </ard-button-group>
    <ard-button appearance="transparent" color="none">Button 5</ard-button>
    <ard-button appearance="transparent" color="none">Button 6</ard-button>
  </ard-button-group>
</div>
