/* You can add global styles to this file, and also import other style files */

@use '@angular/cdk/overlay-prebuilt.css';

@use 'projects/ui/src/themes/default/core.scss';
@use 'projects/ui/src/themes/default/buttons/button.scss';
@use 'projects/ui/src/themes/default/buttons/fab.scss';
@use 'projects/ui/src/themes/default/buttons/icon-button.scss';
@use 'projects/ui/src/themes/default/form-field-frame.scss';
@use 'projects/ui/src/themes/default/inputs/autocomplete-input.scss';
@use 'projects/ui/src/themes/default/inputs/input.scss';
@use 'projects/ui/src/themes/default/inputs/number-input.scss';
@use 'projects/ui/src/themes/default/inputs/hex-input.scss';
@use 'projects/ui/src/themes/default/inputs/color-input.scss';
@use 'projects/ui/src/themes/default/inputs/file-input.scss';
@use 'projects/ui/src/themes/default/checkbox.scss';
@use 'projects/ui/src/themes/default/checkbox-list.scss';
@use 'projects/ui/src/themes/default/chips.scss';
@use 'projects/ui/src/themes/default/dropdown-panel.scss';
@use 'projects/ui/src/themes/default/select.scss';
@use 'projects/ui/src/themes/default/slide-toggle.scss';
@use 'projects/ui/src/themes/default/slider.scss';
@use 'projects/ui/src/themes/default/spinner.scss';
@use 'projects/ui/src/themes/default/stars.scss';
@use 'projects/ui/src/themes/default/statebox.scss';
@use 'projects/ui/src/themes/default/segment.scss';
@use 'projects/ui/src/themes/default/color-display.scss';
@use 'projects/ui/src/themes/default/color-picker.scss';
@use 'projects/ui/src/themes/default/calendar.scss';
@use 'projects/ui/src/themes/default/kbd.scss';
@use 'projects/ui/src/themes/default/kbd-shortcut.scss';
@use 'projects/ui/src/themes/default/progress-circle.scss';
@use 'projects/ui/src/themes/default/card.scss';
@use 'projects/ui/src/themes/default/divider.scss';
@use 'projects/ui/src/themes/default/inputs/password-input.scss';
@use 'projects/ui/src/themes/default/radio.scss';
@use 'projects/ui/src/themes/default/file-drop-area.scss';
@use 'projects/ui/src/themes/default/table.scss';
@use 'projects/ui/src/themes/default/table-pagination.scss';
@use 'projects/ui/src/themes/default/badge.scss';
@use 'projects/ui/src/themes/default/progress-bar.scss';
@use 'projects/ui/src/themes/default/inputs/digit-input.scss';
@use 'projects/ui/src/themes/default/modal.scss';
@use 'projects/ui/src/themes/default/dialog.scss';
@use 'projects/ui/src/themes/default/snackbar.scss';
@use 'projects/ui/src/themes/default/tabber.scss';
@use 'projects/ui/src/themes/default/form-field.scss';
@use 'projects/ui/src/themes/default/inputs/date-input.scss';

@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

* {
  font-family: 'Roboto', sans-serif;
}

body {
  background: var(--ard-bg-darker);
  height: 100vh;
  height: 100dvh;
}

.master {
  width: max-content;
  --grid-cols: 7;
  padding: 8px 0;
  border-bottom: 1px solid #000;

  &.flex,
  .flex {
    display: flex;
    gap: 4px;
    flex-direction: column;

    &.horiz,
    .horiz {
      flex-direction: row;
      align-items: center;
    }
    &.space-between,
    .space-between {
      justify-content: space-between;
    }
  }
  &.grid,
  .grid {
    display: grid;
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    gap: 4px 16px;
  }
}
.title,
.mono {
  font-family: monospace;
}
.title {
  font-size: 16px;
  font-weight: 900;
}
.cover-image {
  width: 100%;
  height: auto;
  padding: 10rem;

  &.orange {
    background-color: rgb(252, 237, 219);
  }
}
