@use '../mixins' as defaultMixins;
@use '../coloring' as coloringMixins;
@use '../../variables' as ARD;

@mixin button(
  $margin,
  $padding,
  $font-size,
  $font-weight,
  $hover-opacity,
  $focus-opacity,
  $active-opacity,
  $focus-visible-opacity
) {
  @include coloringMixins.typeColors();
  font-family: var(--ard-font-family);
  margin: $margin;
  padding: $padding;
  border: 1px solid transparent;
  font-weight: $font-weight;
  font-size: $font-size;
  display: inline-flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  outline: none;

  //! button focus inficator
  &::before {
    content: '';
    @include defaultMixins.focus-overlay;
    background-color: var(--ard-uicl--overlay);
  }
  &:hover {
    &::before {
      opacity: $hover-opacity;
    }
  }
  &:focus {
    &::before {
      opacity: $focus-opacity;
    }
  }
  &.ard-active,
  &:active {
    &::before {
      opacity: $active-opacity;
    }
  }
  &:focus-visible {
    &::before {
      opacity: $focus-visible-opacity;
    }
  }
  //! button appearances
  &.ard-appearance-transparent,
  &.ard-appearance-raised {
    background: transparent;
    color: var(--ard-uicl--content);
    border: none;

    &::before {
      background: var(--ard-uicl--overlay-colored);
    }
  }
  &.ard-appearance-raised,
  &.ard-appearance-raised-strong {
    background: ARD.$bg;
    transition: box-shadow 0.28s ARD.$timing-fn;
    box-shadow: ARD.$simple-shadow;

    &:hover,
    &:focus-visible {
      box-shadow: ARD.$simple-shadow2;
    }
    &:active {
      box-shadow: ARD.$simple-shadow3;
    }
  }
  &.ard-appearance-outlined {
    background: ARD.$bg;
    color: var(--ard-uicl--content);
    border: 1px solid ARD.$border-light;

    &::before {
      background: var(--ard-uicl--overlay-colored);
    }
  }
  &.ard-appearance-outlined-strong {
    background: ARD.$bg;
    color: var(--ard-uicl--content);
    border: 1px solid ARD.$border-light;

    &::before {
      display: none;
    }

    transition: background-color 0.2s ease, color 0.2s ease;
    &:hover,
    &:focus-visible {
      background: var(--ard-uicl--bg-colored);
      color: var(--ard-uicl--on-bg-colored);
    }
  }
  &.ard-appearance-flat,
  &.ard-appearance-raised-strong {
    background: var(--ard-uicl--bg-colored);
    color: var(--ard-uicl--on-bg-colored);
    border: 1px solid var(--ard-uicl--bg-colored);

    &::before {
      background: var(--ard-uicl--on-bg);
    }
    &:focus-visible {
      outline: solid black;
    }
  }
  //! light coloring
  &.ard-appearance-transparent.ard-light-coloring {
    color: var(--ard-uicl--content-light);

    &::before {
      background: var(--ard-uicl--overlay-colored-light);
    }
  }
}

//! disabled state
@mixin button-disabled($opacity, $overlay-opacity) {
  pointer-events: none;
  opacity: $opacity;
  cursor: not-allowed;

  &::before {
    opacity: $overlay-opacity;
    transform: scale(1);
  }

  //edge case for no coloring
  &.ard-color-none {
    .ard-button-icon,
    .ard-button-content {
      opacity: $opacity;
    }
    &::before {
      background: var(--ard-uicl--overlay);
    }
  }
}
