@use './button-mixins' as shared;

:root {
  --ard-button-height: 2.5em;
  --ard-button-height-compact: 2.25em;
  --ard-button-margin: 0.125rem;
  --ard-button-padding: 0 1.2em;
  --ard-button-padding-compact: 0 0.9em;
  --ard-button-padding-vertical: 0.3em 1em;
  --ard-button-padding-vertical-compact: 0.2em 0.8em;
  --ard-button-font-size: 0.875rem;
  --ard-button-font-size-compact: 0.75rem;
  --ard-button-font-weight: 500;
  --ard-button-overlay-hover-opacity: 0.04;
  --ard-button-overlay-focus-opacity: 0.12;
  --ard-button-overlay-active-opacity: 0.18;
  --ard-button-overlay-focus-visible-opacity: 0.24;
  --ard-button-overlay-disabled-opacity: 0.2;
  --ard-button-rounded-corner-radius: var(--ard-rounded-corner-radius, 0.375rem);
  --ard-button-disabled-opacity: 0.6;
}

ard-button {
  display: block;
  width: max-content;
  height: max-content;
}

.ard-button {
  @include shared.button(
    var(--ard-button-margin, 0.125rem),
    var(--ard-button-padding, 0 1.2em),
    var(--ard-button-font-size, 0.875rem),
    var(--ard-button-font-weight, 500),
    var(--ard-button-overlay-hover-opacity, 0.04),
    var(--ard-button-overlay-focus-opacity, 0.12),
    var(--ard-button-overlay-active-opacity, 0.18),
    var(--ard-button-overlay-focus-visible-opacity, 0.24)
  );
  background: transparent;
  gap: 0.375rem;
  font-size: var(--ard-button-font-size, 0.875rem);
  height: var(--ard-button-height, 2.5em);
  padding: var(--ard-button-padding, 0 1.2em);
  letter-spacing: 0.5px;
  width: 100%;
  min-width: max-content;
  justify-content: center;
  margin: 0;
  user-select: none;

  .ard-button-content {
    display: flex;
    align-items: center;
    gap: 0.375rem;
  }

  //! aligns
  &.ard-align-left {
    flex-direction: row;
  }
  &.ard-align-right {
    flex-direction: row-reverse;
  }

  //! button variants
  &.ard-button-vertical {
    height: max-content;
    padding: var(--ard-button-padding-vertical, 0.3em 1em);
    gap: 2px;
    flex-direction: column;
  }
  &.ard-variant-rounded,
  &.ard-variant-pill.ard-button-vertical {
    border-radius: var(--ard-button-rounded-corner-radius, 0.375rem);
  }
  &.ard-variant-pill:not(.ard-button-vertical) {
    border-radius: 9999px;
  }
  &.ard-variant-sharp {
    border-radius: 0;
  }

  //! compact
  &.ard-compact {
    font-size: var(--ard-button-font-size-compact, 0.75rem);
    height: var(--ard-button-height-compact, 2.25em);
    padding: var(--ard-button-padding-compact, 0 0.9em);

    &.ard-button-vertical {
      height: max-content;
      padding: var(--ard-button-padding-vertical-compact, 0.2em 0.8em);
      gap: 0;
    }
  }
}

ard-button.ard-disabled {
  > .ard-button {
    @include shared.button-disabled(var(--ard-button-disabled-opacity, 0.6), var(--ard-button-overlay-disabled-opacity, 0.2));
  }
  &.ard-button-with-pointer-events-when-disabled {
    pointer-events: all;

    > .ard-button {
      pointer-events: all;
    }
  }
}
