@use './button-mixins' as shared;
@use '../mixins' as CM;

ard-fab {
    margin: 8px;
    display: block;
    width: max-content;
    height: max-content;
}

.ard-fab {
    @include shared.button;
    height: var(--ard-_fab-size);
    width: var(--ard-_fab-size);
    font-weight: 900;
    user-select: none;
    border-radius: 999px;
    justify-content: center;
    margin: 0;
    padding: 0;

    &.ard-fab-size-standard {
        --ard-_fab-size: 3.5rem;
        font-size: 1rem
    }
    &.ard-fab-size-small {
        --ard-_fab-size: 2.5rem;
        font-size: 0.875rem;
    }
    &.ard-fab-extended {
        min-width: var(--ard-_fab-size);
        width: max-content;
        font-weight: unset;
        padding: 0.75em;
    }

    .ard-button-content {
        gap: 0.5em;
    }

    &.ard-appearance-transparent {
        @include CM.focus-overlay-scale-addon();
    }
}

ard-fab.ard-disabled {
    >.ard-fab {
        @include shared.button-disabled;
    }
}