@use './button-mixins' as shared;

ard-icon-button {
  height: max-content;
  width: max-content;
  border-radius: 9999px;
  aspect-ratio: 1;
  display: inline-block;
  font-size: 1rem;
}

.ard-icon-button {
  @include shared.button;
  background: transparent;
  height: 2.1875em;
  aspect-ratio: 1;
  border-radius: 9999px;
  align-items: center;
  justify-content: center;
  padding: 0;
  overflow: hidden;
  font-weight: 600;
  font-size: inherit;
  color: var(--ard-cmpcl--bg-colored);

  .ard-button-content {
    display: flex;
    align-items: center;

    > ard-icon {
      font-weight: 500;
      font-size: 1.5em;
    }
  }

  //! compact
  &.ard-compact {
    height: 2.25em;
    font-size: 0.75em;
  }
  //! light coloring
  &.ard-light-coloring {
    color: var(--ard-cmpcl--bg-colored-light);
  }
}

ard-icon-button.ard-disabled {
  > .ard-icon-button {
    @include shared.button-disabled;

    .ard-focus-overlay {
      opacity: 0;
    }
  }
  &.ard-button-with-pointer-events-when-disabled {
    pointer-events: all;

    > .ard-button {
      pointer-events: all;
    }
  }
}
