<div class="flex horiz page-grid">
  <div class="master">
    <span class="title">Most basic calendar</span>
    <ard-calendar></ard-calendar>
  </div>
  <div class="master">
    <span class="title">Calendar color</span>
    <ard-calendar color="danger"></ard-calendar>
  </div>
  <div class="master">
    <span class="title">Calendar active date</span>
    <ard-calendar
      [activeYear]="1970"
      [activeMonth]="0"
    ></ard-calendar>
  </div>
  <div class="master">
    <span class="title">Calendar with preselected value</span>
    <ard-calendar [selected]="selectedDate"></ard-calendar>
  </div>
  <div class="master">
    <span class="title">Read-only calendar</span>
    <ard-calendar readonly></ard-calendar>
  </div>
  <div class="master">
    <span class="title">Disabled calendar</span>
    <ard-calendar disabled></ard-calendar>
  </div>
  <div class="master">
    <span class="title">Static height calendar</span>
    <ard-calendar staticHeight></ard-calendar>
  </div>
  <div class="master">
    <span class="title">Calendar events</span>
    <ard-calendar
      [(ngModel)]="eventsCalendarDate"
      (selectedChange)="log('selectedChange', $event)"
      (ngModelChange)="log('ngModelChange', $event)"
      (activeViewChange)="log('activeViewChange', $event)"
      (activeMonthChange)="log('activeMonthChange', $event)"
      (activeYearChange)="log('activeYearChange', $event)"
    ></ard-calendar>
  </div>
  <div class="master">
    <span class="title">Calendar events (UTC)</span>
    <ard-calendar
      [(ngModel)]="eventsCalendarDateUTC"
      (selectedChange)="log('selectedChange', $event)"
      (ngModelChange)="log('ngModelChange', $event)"
      (activeViewChange)="log('activeViewChange', $event)"
      (activeMonthChange)="log('activeMonthChange', $event)"
      (activeYearChange)="log('activeYearChange', $event)"
      UTC
    ></ard-calendar>
  </div>
  <div class="master">
    <span class="title">Calendar with min/max dates</span>
    <ard-calendar
      [min]="minDate"
      [max]="maxDate"
    ></ard-calendar>
  </div>
  <div class="master">
    <span class="title">Calendar filter function</span>
    <ard-calendar [filter]="filterFn"></ard-calendar>
  </div>
</div>
