<!-- <span class="title">Empty element</span>
<div class="grid master">
    <ard-select *ngFor="let disabled of [false, true]" [disabled]="disabled"></ard-select>
</div>
<span class="title">Primitive options, searchable</span>
<div class="grid master">
    <ard-select
        *ngFor="let disabled of [false, true]"
        [disabled]="disabled"
        [items]="fruits"
        searchable
        (focus)="log('focus', $event)"
        (blur)="log('blur', $event)"
        (add)="log('add', $event)"
        (remove)="log('remove', $event)"
        (valueChange)="log('valueChange', $event)"
        (clear)="log('clear', $event)"
        (open)="log('open', $event)"
        (close)="log('close', $event)"
        (scroll)="log('scroll', $event)"
        (scrollToEnd)="log('scrollToEnd', $event)"
        (search)="log('search', $event)"
    ></ard-select>
</div>
<span class="title">Object options, property binding, groups, searchable</span>
<div class="grid master">
    <ard-select
        *ngFor="let disabled of [false, true]"
        [disabled]="disabled"
        [items]="animals"
        valueFrom="name"
        labelFrom="name"
        groupLabelFrom="classification"
        (focus)="log('focus', $event)"
        (blur)="log('blur', $event)"
        (add)="log('add', $event)"
        (remove)="log('remove', $event)"
        (valueChange)="log('valueChange', $event)"
        (clear)="log('clear', $event)"
        (open)="log('open', $event)"
        (close)="log('close', $event)"
        (scroll)="log('scroll', $event)"
        (scrollToEnd)="log('scrollToEnd', $event)"
        (search)="log('search', $event)"
    ></ard-select>
</div>
<span class="title">Object options, property binding, groups, customized with templates</span>
<div class="grid master">
    <ard-select
        *ngFor="let disabled of [false, true]"
        [disabled]="disabled"
        [items]="animals"
        valueFrom="name"
        labelFrom="name"
        multiselectable
        [closeOnSelect]="false"
        groupLabelFrom="classification"
        (focus)="log('focus', $event)"
        (blur)="log('blur', $event)"
        (add)="log('add', $event)"
        (remove)="log('remove', $event)"
        (valueChange)="log('valueChange', $event)"
        (clear)="log('clear', $event)"
        (open)="log('open', $event)"
        (close)="log('close', $event)"
        (scroll)="log('scroll', $event)"
        (scrollToEnd)="log('scrollToEnd', $event)"
        (search)="log('search', $event)"
    >
        <ng-template ard-optgroup-tmp let-group let-total="totalChildren" let-selected="selectedChildren">
            <span class="ard-optgroup-label">
                {{ group.label }}
                <span class="count-display">{{selected}} / {{total}}</span>
            </span>
        </ng-template>
    </ard-select>
</div>
<span class="title">Object options, customized with templates, custom search function (search by name or HEX)</span>
<div class="grid master">
    <ard-select
        *ngFor="let disabled of [false, true]"
        [disabled]="disabled"
        [items]="colors"
        clearable="false"
        labelFrom="name"
        valueFrom="hex"
        searchable
        [searchFn]="colorSearchFn"
        (focus)="log('focus', $event)"
        (blur)="log('blur', $event)"
        (add)="log('add', $event)"
        (remove)="log('remove', $event)"
        (valueChange)="log('valueChange', $event)"
        (clear)="log('clear', $event)"
        (open)="log('open', $event)"
        (close)="log('close', $event)"
        (scroll)="log('scroll', $event)"
        (scrollToEnd)="log('scrollToEnd', $event)"
        (search)="log('search', $event)"
    >
        <ng-template ard-option-tmp ard-value-tmp let-option>
            <div class="option-wrapper">
                <div class="color-display" [style]="'background: ' + option.value"></div>
                <span>{{ option.label }}</span>
            </div>
        </ng-template>
    </ard-select>
</div> -->
<div class="master flex">
    <span class="title">Using ard-option components</span>
    <ard-select (valueChange)="log('valueChange', $event)" clearable="false">
        <ard-option [disabled]="currentFruitDisabled">{{currentFruit}}</ard-option>
        <!-- <ard-option>Pear</ard-option>
        <ard-option disabled>Banana</ard-option>
        <ard-option>Cherry</ard-option> -->
    </ard-select>
</div>