<div class="master">
    <span class="title">Most basic badge</span>
    <p ardBadge="Text" ardBadgeSize="small">Lorem ipsum dolor sit amet.</p>
    <p ardBadge="Text" ardBadgeSize="medium">Lorem ipsum dolor sit amet.</p>
    <p ardBadge="Text" ardBadgeSize="large">Lorem ipsum dolor sit amet.</p>
</div>
<div class="master">
    <span class="title">Badge on a button</span>
    <ard-button color="none" appearance="raised-strong" ardBadge="Text" ardBadgeSize="small">Action</ard-button>
    <ard-button color="none" appearance="raised-strong" ardBadge="Text" ardBadgeSize="medium">Action</ard-button>
    <ard-button color="none" appearance="raised-strong" ardBadge="Text" ardBadgeSize="large">Action</ard-button>
</div>
