<div class="master flex">
  <span class="title">Example Icon</span>
  <div>
    <ard-icon>delete</ard-icon>
  </div>
</div>
<div class="master flex">
  <span class="title">Icon with aria-label</span>
  <div>
    <ard-icon ariaLabel="Password">KEY</ard-icon>
  </div>
</div>
<div class="master flex">
  <span class="title">Icon with improper name formatting (still works)</span>
  <div>
    <ard-icon>create_new_folder</ard-icon>
    <ard-icon>create-new-folder</ard-icon>
    <ard-icon>Create New Folder</ard-icon>
  </div>
</div>
<div class="master flex">
  <span class="title">Icon with variable input (uses [icon] input)</span>
  <input
    type="text"
    [(ngModel)]="iconValue"
  />
  <div>
    <ard-icon [icon]="iconValue"></ard-icon>
  </div>
</div>
