<div class="route-list">
    <a routerLink="/button">Buttons</a>
    <a routerLink="/fab">FABs</a>
</div>
<div class="route-list">
    <a routerLink="/checkbox">Checkbox</a>
    <a routerLink="/statebox">Statebox</a>
    <a routerLink="/slide-toggle">Slide Toggle</a>
    <a routerLink="/stars">Star-related</a>
    <a routerLink="/chips">Chips</a>
</div>
<div class="route-list">
    <a routerLink="/slider">Slider</a>
</div>
<div class="route-list">
    <a routerLink="/select">Select</a>
    <a routerLink="/inputs">Inputs</a>
</div>