<div class="route-list">
    <a routerLink="/button">Button</a>
    <a routerLink="/fab">FAB</a>
    <a routerLink="/icon-button">Icon Button</a>
    <a routerLink="/icon">Icon</a>
</div>
<div class="route-list">
    <a routerLink="/radio">Radio</a>
    <a routerLink="/checkbox">Checkbox</a>
    <a routerLink="/statebox">Statebox</a>
    <a routerLink="/slide-toggle">Slide Toggle</a>
    <a routerLink="/stars">Star-related</a>
    <a routerLink="/chips">Chips</a>
</div>
<div class="route-list">
    <a routerLink="/checkbox-list">Checkbox List</a>
</div>
<div class="route-list">
    <a routerLink="/sliders">Sliders</a>
    <a routerLink="/segment">Segment</a>
</div>
<div class="route-list">
    <a routerLink="/card">Card</a>
    <a routerLink="/divider">Divider</a>
</div>
<div class="route-list">
    <a routerLink="/table">Table</a>
</div>
<div class="route-list">
    <a routerLink="/calendar">Calendar</a>
</div>
<div class="route-list">
    <a routerLink="/progress-circle">Progress Circle</a>
</div>
<div class="route-list">
    <a routerLink="/kbd">Kbd</a>
    <a routerLink="/kbd-shortcut">Kbd Shortcut</a>
</div>
<div class="route-list">
    <a routerLink="/select">Select</a>
    <a routerLink="/inputs">Inputs</a>
    <a routerLink="/file-drop-area">File Drop Area</a>
</div>
<div class="route-list">
    <a routerLink="/color-display">Color display</a>
    <a routerLink="/color-picker">Color picker</a>
</div>