<div class="master">
  <span class="title">Basic checkbox list</span>
  <div>text left - checkbox left</div>
  <ard-checkbox-list
    [items]="fruitItems"
    textAlign="left"
    checkboxAlign="left"
  />
  <div>text right - checkbox right</div>
  <ard-checkbox-list
    [items]="fruitItems"
    textAlign="right"
    checkboxAlign="right"
  />
  <div>text left - checkbox right</div>
  <ard-checkbox-list
    [items]="fruitItems"
    textAlign="left"
    checkboxAlign="right"
  />
  <div>text right - checkbox left</div>
  <ard-checkbox-list
    [items]="fruitItems"
    textAlign="right"
    checkboxAlign="left"
  />
</div>
<div class="master">
  <span class="title">Checkbox list events</span>
  <ard-checkbox-list
    [items]="fruitItems"
    (focus)="log('focus', $event)"
    (blur)="log('blur', $event)"
    (valueChange)="log('valueChange', $event)"
    (change)="log('change', $event)"
  />
</div>
<div class="master">
  <span class="title">Checkbox list with custom checkbox template</span>
  <ard-checkbox-list
    [items]="fruitItems"
  >
    <ng-template ard-checkbox-tmp let-selected>
      {{ selected ? '☑' : '☐' }}
    </ng-template>
</ard-checkbox-list>
</div>
<div class="master">
  <span class="title">Checkbox list with FormControl support</span>
  <ard-checkbox-list
    [items]="fruitItems"
    [formControl]="formControl"
  />
</div>
<div class="master">
  <span class="title">Checkbox list with Signal Forms support</span>
  <ard-checkbox-list
    [items]="fruitItems"
    [field]="signalForm.fruits"
  />
</div>
