<div class="master">
  <span class="title">Basic checkbox list</span>
  <ard-checkbox-list
    [items]="fruitItems"
    align="left-clumped"
  />
  <ard-checkbox-list
    [items]="fruitItems"
    align="left-split"
  />
  <ard-checkbox-list
    [items]="fruitItems"
    align="right-split"
  />
  <ard-checkbox-list
    [items]="fruitItems"
    align="right-clumped"
  />
</div>
<div class="master">
  <span class="title">Checkbox list events</span>
  <ard-checkbox-list
    [items]="fruitItems"
    (focus)="log('focus', $event)"
    (blur)="log('blur', $event)"
    (valueChange)="log('valueChange', $event)"
    (change)="log('change', $event)"
  />
</div>
