<span class="title">star</span>
<div class="master star">
  <div
    class="flex horiz"
    *ngFor="let color of colors"
  >
    <div class="grid red">
      <ard-star
        *ngFor="let state of fillModes"
        [filled]="state"
        [color]="color"
      ></ard-star>
    </div>
    <span class="mono">{{ color }}</span>
  </div>
</div>
<span class="title">star-button</span>
<div class="master star-button">
  <div
    class="flex horiz"
    *ngFor="let color of colors"
  >
    <div class="grid red">
      <ng-container *ngFor="let state of [false, true]">
        <ard-star-button
          *ngFor="let disabled of [false, true]"
          [selected]="state"
          [color]="color"
          [disabled]="disabled"
          (focus)="log('focus', $event)"
          (blur)="log('blur', $event)"
          (select)="log('select', $event)"
          (unselect)="log('unselect', $event)"
          (selectedChange)="log('selectedChange', $event)"
        ></ard-star-button>
      </ng-container>
    </div>
    <span class="mono">{{ color }}</span>
  </div>
</div>
<span class="title">star-display</span>
<div class="master star-display">
  <div
    class="flex horiz red"
    *ngFor="let color of colors"
  >
    <ard-star-display
      [color]="color"
      [value]="valueFor5"
    ></ard-star-display>
    <ard-star-display
      [color]="color"
      [max]="max"
      [value]="valueFor10"
    ></ard-star-display>
    <span class="mono black">{{ color }}</span>
  </div>
</div>
<span class="title">star-input</span>
<div class="master star-input">
  <div
    class="flex horiz red"
    *ngFor="let color of colors"
  >
    <ard-star-input
      [color]="color"
      (valueChange)="log('valueChange', $event)"
    />
    <ard-star-input
      *ngFor="let disabled of [false, true]"
      [value]="valueFor5"
      [color]="color"
      [disabled]="disabled"
      (focus)="log('focus', $event)"
      (blur)="log('blur', $event)"
      (valueChange)="log('valueChange', $event)"
    />
    <ard-star-input
      *ngFor="let disabled of [false, true]"
      [max]="max"
      [value]="valueFor10"
      [color]="color"
      [disabled]="disabled"
      (focus)="log('focus', $event)"
      (blur)="log('blur', $event)"
      (valueChange)="log('valueChange', $event)"
    />
    <span class="mono black">{{ color }}</span>
  </div>
</div>

<h2>Examples</h2>
<div class="master">
  <span class="title">Star customized with template</span>
  <div class="flex horiz">
    <ard-star
      *ngFor="let state of fillModes"
      [filled]="state"
      color="danger"
    >
      <ng-template
        ard-star-icon-tmp
        let-fillMode
      >
        @if (fillMode === 'filled') {
        <ard-icon filled>favorite</ard-icon>
        } @else {
        <ard-icon>favorite</ard-icon>
        }
      </ng-template>
    </ard-star>
  </div>
</div>

<div class="master">
  <span class="title">Star button customized with template</span>
  <div class="flex horiz">
    <ard-star-button color="danger">
      <ng-template
        ard-star-tmp
        let-fillMode="fillMode"
        let-color="color"
      >
        <ard-star
          [filled]="fillMode"
          [color]="color"
          class="custom-star-button-star"
        >
          <ng-template
            ard-star-icon-tmp
            let-fillMode
          >
            @if (fillMode === 'filled') {
            <ard-icon filled>favorite</ard-icon>
            } @else {
            <ard-icon>favorite</ard-icon>
            }
          </ng-template>
        </ard-star>
      </ng-template>
    </ard-star-button>
  </div>
</div>

<div class="master">
  <span class="title">Star display customized with template</span>
  <div class="flex horiz">
    <input
      type="number"
      min="0"
      max="5"
      value="3"
      (input)="ratingDisplayValue.set($any($event).target.valueAsNumber)"
    />
    <ard-star-display [value]="ratingDisplayValue()">
      <ng-template
        ard-star-tmp
        let-index="index"
        let-valueIndex="valueIndex"
      >
        <ard-icon
          [class]="'sentiment icon-color-'+index"
          [class.icon-has-value]="index === valueIndex"
          [filled]="index === valueIndex"
        >
          @switch (index) { @case (0) { sentiment-very-dissatisfied } @case (1) { sentiment-dissatisfied } @case (2) {
          sentiment-neutral } @case (3) { sentiment-satisfied } @case (4) { sentiment-very-satisfied } }
        </ard-icon>
      </ng-template>
    </ard-star-display>
  </div>
</div>

<div class="master">
  <span class="title">Star input customized with template</span>
  <div class="flex horiz">
    <ard-star-input color="none">
      <ng-template
        ard-star-button-tmp
        let-index="index"
        let-valueIndex="valueIndex"
        let-highlightedIndex="highlightedIndex"
        let-tabIndex="tabIndex"
        let-onClick="onClick"
        let-onFocus="onFocus"
        let-onBlur="onBlur"
        let-onHighlight="onHighlight"
      >
        <ard-star-button
          clickStrategy="noop"
          [selected]="index === valueIndex || index === highlightedIndex"
          (click)="onClick()"
          (focus)="onFocus($event)"
          (blur)="onBlur($event)"
          (mouseenter)="onHighlight()"
          [tabIndex]="tabIndex"
        >
          <ng-template ard-star-tmp>
            <ard-icon
              [class]="'sentiment icon-color-'+index"
              [class.icon-has-value]="index === valueIndex || index === highlightedIndex"
              [filled]="highlightedIndex === -1 ? index === valueIndex : index === highlightedIndex"
            >
              @switch (index) { @case (0) { sentiment-very-dissatisfied } @case (1) { sentiment-dissatisfied } @case (2) {
              sentiment-neutral } @case (3) { sentiment-satisfied } @case (4) { sentiment-very-satisfied } }
            </ard-icon>
          </ng-template>
        </ard-star-button>
      </ng-template>
    </ard-star-input>
  </div>
</div>
