
<span class="title">star</span>
<div class="grid master star">
    <ng-container *ngFor="let color of colors">
        <ard-star
            *ngFor="let state of fillModes"
            [fill]="state"
            [color]="color"
        ></ard-star>
    </ng-container>
</div>
<span class="title">star-button</span>
<div class="grid master star-button">
    <ng-container *ngFor="let color of colors">
        <ng-container *ngFor="let state of [false, true]">
            <ard-star-button
                *ngFor="let disabled of [false, true]"
                [selected]="state"
                [color]="color"
                [disabled]="disabled"
                (focus)="log('focus', $event)"
                (blur)="log('blur', $event)"
                (select)="log('select', $event)"
                (unselect)="log('unselect', $event)"
                (selectedChange)="log('selectedChange', $event)"
            ></ard-star-button>
        </ng-container>
    </ng-container>
</div>
<span class="title">star-display</span>
<div class="grid master star-display">
    <ng-container *ngFor="let color of colors">
        <ard-star-display
            [color]="color"
            [value]="valueFor5"
        ></ard-star-display>
        <ard-star-display
            [color]="color"
            [max]="max"
            [value]="valueFor10"
        ></ard-star-display>
    </ng-container>
</div>
<span class="title">star-input</span>
<div class="grid master star-input">
    <ng-container *ngFor="let color of colors">
        <ard-star-input
            *ngFor="let disabled of [false, true]"
            [value]="valueFor5"
            [color]="color"
            [disabled]="disabled"
            (focus)="log('focus', $event)"
            (blur)="log('blur', $event)"
            (valueChange)="log('valueChange', $event)"
        ></ard-star-input>
        <ard-star-input
            *ngFor="let disabled of [false, true]"
            [max]="max"
            [value]="valueFor10"
            [color]="color"
            [disabled]="disabled"
            (focus)="log('focus', $event)"
            (blur)="log('blur', $event)"
            (valueChange)="log('valueChange', $event)"
        ></ard-star-input>
    </ng-container>
</div>