<div class="master">
  <span class="title">Basic checkbox</span>
  <ard-checkbox></ard-checkbox>
</div>
<div class="master">
  <span class="title">Checkbox events</span>
  <ard-checkbox
    (select)="log('select', $event)"
    (unselect)="log('unselect', $event)"
    (selectedChange)="log('selectedChange', $event)"
    (stateChange)="log('stateChange', $event)"
  ></ard-checkbox>
</div>
<div class="master">
  <div class="flex horiz large-gap">
    <span class="title">Font size</span>
    <input
      type="number"
      [(ngModel)]="fontsize"
      />
  </div>
  <div [style]="'font-size: ' + fontsize + 'px'">
    <ard-checkbox></ard-checkbox>
  </div>
</div>
<div class="flex master">
  <span class="title">Rainbow table</span>
  @for (color of colors; track color) {
    <div
      class="flex horiz color-flex"
      >
      <div class="grid red">
        @for (state of states; track state) {
          @for (disabled of [false, true]; track disabled) {
            <ard-checkbox
              [state]="state"
              [color]="color"
              [disabled]="disabled"
            ></ard-checkbox>
          }
        }
      </div>
      <span class="title color">{{ color }}</span>
    </div>
  }
</div>
