<!-- <div class="flex horiz main-container">
  <div class="master">
    <span class="title">Most basic date range input</span>
    <ard-date-range-input (valueChange)="log('valueChange', $event)" />
  </div>
</div>
<div class="flex horiz main-container">
  <div class="master">
    <span class="title">Date range input with reactive forms</span>
    <ard-date-range-input [formControl]="formControl" />
  </div>
</div>
<div class="flex horiz main-container">
  <div class="master">
    <span class="title">Readonly date range input with reactive forms</span>
    <ard-date-range-input [formControl]="formControl" readonly />
  </div>
</div> -->
<div class="flex horiz main-container">
  <div class="master">
    <span class="title">Date range input min max</span>
    <ard-date-range-input [min]="MIN" [max]="MAX" UTC />
  </div>
</div>
<!-- <div class="flex horiz main-container">
  <div class="master">
    <span class="title">Disabled date range input with reactive forms</span>
    <ard-date-range-input [formControl]="formControlDisabled" />
  </div>
</div>
<div class="flex horiz main-container">
  <div class="master">
    <span class="title">Date range input with placeholder</span>
    <ard-date-range-input placeholder="Select a date range" />
  </div>
</div>
<div class="flex horiz main-container">
  <div class="master">
    <span class="title">Date range input with reactive forms and placeholder</span>
    <ard-date-range-input [formControl]="formControl" placeholder="Select a date range" />
  </div>
</div> -->