<div class="flex horiz main-container">
  <div class="master">
    <span class="title">Most basic date input</span>
    <ard-date-input (valueChange)="log('valueChange', $event)" />
  </div>
</div>
<div class="flex horiz main-container">
  <div class="master">
    <span class="title">Date input events</span>
    <ard-date-input
      (valueChange)="log('valueChange', $event)"
      (activeMonthChange)="log('activeMonthChange', $event)"
      (activeYearChange)="log('activeYearChange', $event)"
      (activeViewChange)="log('activeViewChange', $event)"
      (monthSelect)="log('monthSelect', $event)"
      (yearSelect)="log('yearSelect', $event)"
    />
  </div>
</div>
<div class="flex horiz main-container">
  <div class="master">
    <span class="title">Date input with reactive forms</span>
    <ard-date-input [formControl]="formControl" />
  </div>
</div>
<div class="flex horiz main-container">
  <div class="master">
    <span class="title">Date input with starting view as years selector</span>
    <ard-date-input startView="years" />
  </div>
</div>
<div class="flex horiz main-container">
  <div class="master">
    <span class="title">Date input working as month only selector</span>
    <ard-date-input
      #dateInput
      startView="years"
      (isOpenChange)="log('isOpenChange', $event)"
      (yearSelect)="selectedYear.set($event)"
      (monthSelect)="onMonthSelect($event, dateInput)"
      [value]="yearMonthValue()"
      [serializeFn]="yearMonthSerializer"
      inputReadOnly
    />
  </div>
</div>
