<span class="title">Simplest input</span>
<div class="grid master">
  @for (disabled of [false, true]; track disabled) {
  <ard-input [disabled]="disabled"></ard-input>
  }
</div>
<span class="title">Input appearances, max length, text align, ngModel</span>
<div class="grid master">
  @for (appearance of appearances; track appearance) { @for (disabled of [false, true]; track disabled) {
  <ard-input
    [disabled]="disabled"
    [appearance]="appearance"
    [(ngModel)]="value"
    alignText="right"
    [maxLength]="maxLength"
    (ngModelChange)="log('ngModelChange', $event)"
    (change)="log('change', $event)"
    (focus)="log('focus', $event)"
    (blur)="log('blur', $event)"
  ></ard-input>
  } }
</div>
<span class="title">Input with character allowlist, case insensitive</span>
<div class="grid master">
  @for (disabled of [false, true]; track disabled) {
  <ard-input
    [disabled]="disabled"
    [charlist]="charlist"
    [charlistCaseInsensitive]="charlistCaseInsensitive"
    [(ngModel)]="valueForCharlist"
    (ngModelChange)="log('ngModelChange', $event)"
    (change)="log('change', $event)"
  ></ard-input>
  }
</div>
<span class="title">Input with autocomplete</span>
<div class="grid master">
  @for (disabled of [false, true]; track disabled) {
  <ard-input
    [disabled]="disabled"
    [(value)]="fruitInputValue"
    [autocomplete]="fruitAutocomplete$ | async"
    (valueChange)="onFruitInput($event)"
    (acceptAutocomplete)="onFruitAcceptAutocomplete()"
  ></ard-input>
  }
</div>
<span class="title">Input with suggestions</span>
<div class="grid master">
  <ard-input
    [(value)]="colorInputValue"
    (valueChange)="onColorInput($event)"
    [suggestions]="colorSuggestions$ | async"
    suggValueFrom="name"
    suggLabelFrom="name"
    (acceptSuggestion)="onColorAcceptSuggestion()"
  >
    <ng-template
      ard-suggestion-tmp
      let-item
      let-itemData="itemData"
    >
      <div class="option-wrapper">
        <div
          class="color-display"
          [style]="'background: ' + itemData().hex"
        ></div>
        <span>{{ item.label() }}</span>
      </div>
    </ng-template>
  </ard-input>
</div>
<span class="title">Input prefix</span>
<div class="grid master">
  <ard-input>
    <ng-template ard-prefix-tmp>
      <ard-icon>person</ard-icon>
    </ng-template>
  </ard-input>
</div>
