<div class="grid master">
  @for (disabled of [false, true]; track disabled) {
  <ard-statebox
    [disabled]="disabled"
    (focus)="log('focus', $event)"
    (blur)="log('blur', $event)"
    (stateChange)="log('stateChange', $event)"
  ></ard-statebox>
  } @for (disabled of [false, true]; track disabled) {
  <ard-statebox
    [states]="states"
    [disabled]="disabled"
    (focus)="log('focus', $event)"
    (blur)="log('blur', $event)"
    (stateChange)="log('stateChange', $event)"
  ></ard-statebox>
  }
</div>
