<div class="grid master">
  <ard-statebox
    (focus)="log('focus', $event)"
    (blur)="log('blur', $event)"
    (valueChange)="log('valueChange', $event)"
  />
  <ard-statebox
    disabled
    (focus)="log('focus', $event)"
    (blur)="log('blur', $event)"
    (valueChange)="log('valueChange', $event)"
  />
  <ard-statebox
    [states]="states"
    (focus)="log('focus', $event)"
    (blur)="log('blur', $event)"
    (valueChange)="log('valueChange', $event)"
  />
  <ard-statebox
    [states]="states"
    disabled
    (focus)="log('focus', $event)"
    (blur)="log('blur', $event)"
    (valueChange)="log('valueChange', $event)"
  />
</div>
