<div class="master">
  <span class="title">Basic divider</span>
  <ul class="list">
    <li>List item 1</li>
    <ard-divider></ard-divider>
    <li>List item 2</li>
    <ard-divider></ard-divider>
    <li>List item 3</li>
  </ul>
</div>
<div class="master">
  <span class="title">Vertical divider</span>
  <div class="flex horiz vertical-list">
    <div class="flex-item">List item 1</div>
    <div class="divider"></div>
    <ard-divider vertical></ard-divider>
    <div class="flex-item">List item 2</div>
    <ard-divider vertical></ard-divider>
    <div class="flex-item">List item 3</div>
  </div>
</div>
