.list {
  padding-left: 0;

  li {
    padding-left: 1rem;
    list-style-position: inside;
    margin: 0.4rem 0;
  }
}

.container {
  border: 1px solid blue;
}
.flex-item {
  width: 100px;
  height: 100px;
  text-align: center;
}
.vertical-list {
  align-items: unset !important;
}
.dashed {
  --ard-divider-style: dashed;
}