<div class="master flex">
  <span class="title">Simplest number input</span>
  <ard-number-input></ard-number-input>
</div>
<div class="master flex">
  <span class="title">Simplest number input compact</span>
  <ard-number-input compact></ard-number-input>
</div>
<div class="master flex">
  <span class="title">Number input with min, max, value, placeholder</span>
  <p>
    min="-10", max="10", value="5", placeholder="Foo"
  </p>
  <ard-number-input
    min="-10"
    max="10"
    value="5"
    placeholder="Foo"
  ></ard-number-input>
</div>
<div class="master flex">
  <span class="title">Number input with custom step size</span>
  <ard-number-input
    min="0"
    max="100"
    value="40"
    stepSize="5"
  ></ard-number-input>
</div>
<div class="master flex">
  <span class="title">Compact & with error number input</span>
  <ard-number-input
    compact
    hasError
  ></ard-number-input>
</div>
<div class="master flex">
  <span class="title">Number input events</span>
  <ard-number-input
    min="-10"
    max="10"
    [(value)]="value"
    (ngModelChange)="log('ngModelChange', $event)"
    (valueChange)="log('valueChange', $event)"
    (change)="log('change', $event)"
    (focus)="log('focus', $event)"
    (blur)="log('blur', $event)"
    (quickChange)="log('quickChange', $event)"
  ></ard-number-input>
</div>
<div class="master flex">
  <span class="title">Number input that allows floats</span>
  <ard-number-input
    max="5"
    stepSize="0.25"
    allowFloat
  ></ard-number-input>
</div>
<div class="master flex">
  <span class="title">Number input with no buttons</span>
  <ard-number-input noButtons></ard-number-input>
</div>
<div class="master flex">
  <span class="title">Number input with no buttons and placeholder (left)</span>
  <ard-number-input
    noButtons
    placeholder="Enter a number"
    alignText="left"
  ></ard-number-input>
</div>
<div class="master flex">
  <span class="title">Number input with no buttons and placeholder (left) compact</span>
  <ard-number-input
    noButtons
    placeholder="Enter a number"
    alignText="left"
    compact
  ></ard-number-input>
</div>
<div class="master flex">
  <span class="title">Number input with [keepFocusOnQuickChange]</span>
  <ard-number-input
    keepFocusOnQuickChangeButton
    max="10"
  ></ard-number-input>
</div>
<div class="master flex">
  <span class="title">Number input with [keepFocusOnQuickChange]="false"</span>
  <ard-number-input
    keepFocusOnQuickChangeButton="false"
    max="10"
  ></ard-number-input>
</div>
<div class="master flex">
  <span class="title">Number input with max 2 decimal places</span>
  <ard-number-input
    min="0"
    max="10"
    stepSize="0.05"
    allowFloat
    maxDecimalPlaces="2"
    [(value)]="valueDecPl"
  ></ard-number-input>
  <p>Value: {{ valueDecPl() }}</p>
</div>
<div class="master flex">
  <span class="title">Number input with max 2 decimal places (fixed amount)</span>
  <ard-number-input
    min="0"
    max="10"
    stepSize="0.05"
    allowFloat
    maxDecimalPlaces="2"
    fixedDecimalPlaces
    [(value)]="valueFixedDecPl"
  ></ard-number-input>
  <p>Value: {{ valueFixedDecPl() }}</p>
</div>
<div class="master flex">
  <span class="title">Number input with max 2 decimal places (fixed amount, custom decimal separator)</span>
  <ard-number-input
    min="0"
    max="10"
    stepSize="0.05"
    allowFloat
    maxDecimalPlaces="2"
    fixedDecimalPlaces
    decimalSeparator=","
    [(value)]="valueFixedDecPl"
  ></ard-number-input>
  <p>Value: {{ valueFixedDecPl() }}</p>
</div>
<div class="master flex">
  <span class="title">Number input with prefix and suffix</span>
  <ard-number-input
    min="0"
    max="10000"
    alignText="left"
  >
    <ng-template ard-prefix-tmp>$</ng-template>
    <ng-template ard-suffix-tmp>.00</ng-template>
  </ard-number-input>
</div>
<div class="master flex">
  <span class="title">Number input with prefix and suffix</span>
  <ard-number-input
    min="0"
    max="10000"
    alignText="middle"
  >
    <ng-template ard-prefix-tmp>$</ng-template>
    <ng-template ard-suffix-tmp>.00</ng-template>
  </ard-number-input>
</div>
<div class="master flex">
  <span class="title">Number input with prefix and suffix</span>
  <ard-number-input
    min="0"
    max="10000"
    alignText="right"
  >
    <ng-template ard-prefix-tmp>$</ng-template>
    <ng-template ard-suffix-tmp>.00</ng-template>
  </ard-number-input>
</div>
<div class="master flex">
  <span class="title">Number input with [keepFocusOnQuickChange] and button gets disabled for a while after number change</span>
  <p>Increase the value by one and then wait 3 secs to be able to increase again</p>
  <ard-number-input
    keepFocusOnQuickChangeButton
    value="0"
    (valueChange)="increaseMax()"
    [max]="maxSignal()"
  ></ard-number-input>
</div>
<div class="master flex">
  <span class="title">Number input within a form field</span>
  <ard-form-field reserveHintLine>
    <ard-label>Simple number input</ard-label>
    <ard-number-input [formControl]="control" />
    <ard-hint>Touched: {{ control.touched}}, errors: {{ control.errors | json }}, value: {{ control.value | json }} </ard-hint>
  </ard-form-field>
</div>
<div class="master">
  <span class="title">Rainbow table</span>
  @for (variant of variants; track variant) {
  <div class="flex">
    <span class="monospace">{{ variant }}</span>
    <div class="grid master">
      @for (appearance of appearances; track appearance) { @for (disabled of [false, true]; track disabled) {
      <ard-number-input
        [disabled]="disabled"
        [appearance]="appearance"
        [variant]="variant"
      ></ard-number-input>
      }
      <span class="monospace">{{ appearance }}</span>
      }
    </div>
  </div>
  }
</div>
