app-button {
  .appearance {
    font-size: 14px;
    font-weight: normal;
  }
  .form-field > label {
    font-weight: 500;
  }
  .settings-form {
    margin-top: 1.5rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    width: max-content;
  }
  .checkboxes {
    gap: 1rem;
  }
  .settings-top {
    display: flex;
    gap: 3rem;

    > * {
      display: flex;
      flex-direction: column;
      gap: 0.6rem;
    }
  }
  .settings-left {
    width: 150px;
  }
  .settings-right {
    justify-content: space-between;
  }
  .button-container {
    padding: 1rem;
    margin-top: 1rem;
    align-self: center;
  }
  .settings-bottom {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
  }

  &.alt-coloring {
    .alt-coloring-host {
      background: var(--ard-bg-filled-alt);
    }
  }
}
