.master {
    width: 100%;
    padding: 16px;
    padding-top: 0;
    box-sizing: border-box;
}

.bear-card {
    max-width: 400px;
}

.align-cards-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.bear-favorite-btn {
    position: absolute;
    right: 0.25em;
    top: 0.25em;
    backdrop-filter: blur(10px);
    background: rgba(255,255,255, 0.4);
    border-radius: 9999px;

    .ard-button-icon {
        font-variation-settings: "FILL" 0;
    }
    &.bear-likes {
        .ard-button-icon {
            font-variation-settings: "FILL" 1;
        }
    }
}