<div class="master full-width">
  <span class="title">Basic card</span>
  <ard-card>
    <ard-card-content>Basic card</ard-card-content>
  </ard-card>
</div>
<div class="master full-width">
  <span class="title">Bear card</span>
  <ard-card class="bear-card">
    <ard-card-header>
      <img
        ard-card-avatar
        src="../../../assets/bear avatar.png"
        alt="Bear avatar"
      />
      <ard-card-title>Brown bear</ard-card-title>
      <ard-card-subtitle>Mammal</ard-card-subtitle>
    </ard-card-header>
    <ard-card-content>{{ bearText }}</ard-card-content>
    <ard-card-action-buttons>
      <ard-button
        appearance="transparent"
        color="none"
        >Like</ard-button
      >
      <ard-button
        appearance="transparent"
        color="none"
        >Share</ard-button
      >
    </ard-card-action-buttons>
  </ard-card>
</div>
<div class="master full-width">
  <span class="title">Bear card v2</span>
  <ard-card class="bear-card">
    <img
      ard-card-image
      src="../../../assets/bear.png"
      alt="Brown bear"
    />
    <ard-card-header>
      <ard-card-title>Brown bear</ard-card-title>
      <ard-card-subtitle>Mammal</ard-card-subtitle>
    </ard-card-header>
    <ard-card-content>{{ bearText }}</ard-card-content>
    <ard-card-action-buttons>
      <ard-button
        appearance="transparent"
        color="none"
        >Like</ard-button
      >
      <ard-button
        appearance="transparent"
        color="none"
        >Share</ard-button
      >
    </ard-card-action-buttons>
    <ard-fab
      appearance="transparent"
      class="bear-favorite-btn"
      [color]="likesBear() ? 'danger' : 'none'"
      (click)="toggleLikesBear()"
    >
      <ard-icon
        icon="favorite"
        [filled]="likesBear()"
      />
    </ard-fab>
  </ard-card>
</div>
<div class="master full-width">
  <span class="title">Card action buttons alignments</span>
  <div class="align-cards-container">
    @for (align of aligns; track $index) {
    <ard-card>
      <ard-card-header>
        <ard-card-title>Action buttons alignment</ard-card-title>
        <ard-card-subtitle>{{ align | titlecase }}</ard-card-subtitle>
      </ard-card-header>
      <ard-card-action-buttons [align]="align">
        <ard-button
          appearance="transparent"
          color="none"
          >Like</ard-button
        >
        <ard-button
          appearance="transparent"
          color="none"
          >Share</ard-button
        >
      </ard-card-action-buttons>
    </ard-card>
    }
  </div>
</div>
<div class="master full-width">
  <span class="title">Rainbow table</span>
  <div class="rainbow-grid">
    @for (variant of variants; track $index) { @for (appearance of appearances; track $index) {
    <ard-card
      [appearance]="appearance"
      [variant]="variant"
    >
      <ard-card-content>
        [variant]="{{ variant }}"
        <br />
        [appearance]="{{ appearance }}"
      </ard-card-content>
    </ard-card>
    } }
  </div>
</div>
