<div class="master">
  <div class="title">Simplest tabber</div>
  <ard-tabber>
    <ard-tab tabId="tab1"> This is tab 1 </ard-tab>
    <ard-tab tabId="tab2"> This is tab 2 </ard-tab>
  </ard-tabber>
</div>
<div class="master">
  <div class="title">Tabber with custom labels</div>
  <ard-tabber>
    <ard-tab
      tabId="tab1"
      label="Animals"
    >
      Dog, Cow, Shark
    </ard-tab>
    <ard-tab
      tabId="tab2"
      label="Plants & fungi"
    >
      Wheat, Grass, Yeast
    </ard-tab>
  </ard-tabber>
</div>
<div class="master">
  <div class="title">Tabber events</div>
  <ard-tabber
    (selectedTabChange)="log('selectedTabChange', $event)"
    (focus)="log('focus', $event)"
    (blur)="log('blur', $event)"
  >
    <ard-tab
      tabId="tab1"
      (focus)="log('tab1 focus')"
      (blur)="log('tab1 blur')"
      (selectedChange)="log('tab1 selectedChange', $event)"
    >
      This is tab 1
    </ard-tab>
    <ard-tab
      tabId="tab2"
      (focus)="log('tab2 focus')"
      (blur)="log('tab2 blur')"
      (selectedChange)="log('tab2 selectedChange', $event)"
    >
      This is tab 2
    </ard-tab>
  </ard-tabber>
</div>
<div class="master">
  <div class="title">Tabber alignments</div>
  <ard-tabber
    stretchTabs="false"
    tabAlignment="left"
  >
    <ard-tab tabId="tab1"> This is tab 1 </ard-tab>
    <ard-tab tabId="tab2"> This is tab 2 </ard-tab>
    <ard-tab tabId="tab3"> This is tab 3 </ard-tab>
  </ard-tabber>
  <ard-tabber
    stretchTabs="false"
    tabAlignment="middle"
  >
    <ard-tab tabId="tab1"> This is tab 1 </ard-tab>
    <ard-tab tabId="tab2"> This is tab 2 </ard-tab>
    <ard-tab tabId="tab3"> This is tab 3 </ard-tab>
  </ard-tabber>
  <ard-tabber
    stretchTabs="false"
    tabAlignment="right"
  >
    <ard-tab tabId="tab1"> This is tab 1 </ard-tab>
    <ard-tab tabId="tab2"> This is tab 2 </ard-tab>
    <ard-tab tabId="tab3"> This is tab 3 </ard-tab>
  </ard-tabber>
</div>
<div
  class="master"
  style="width: 100%"
>
  <div class="title">Tabber with preselected tab and uniform widths</div>
  <ard-tabber uniformTabWidths>
    <ard-tab tabId="tab1"> This is tab 1 </ard-tab>
    <ard-tab tabId="tab2"> This is tab 2 </ard-tab>
    <ard-tab
      tabId="tab3"
      selected
    >
      This is tab 3 with a long name
    </ard-tab>
  </ard-tabber>
</div>
<div class="master">
  <div class="title">Tabber with initial tab</div>
  <ard-tabber initialTab="tab2">
    <ard-tab tabId="tab1"> This is tab 1 </ard-tab>
    <ard-tab tabId="tab2"> This is tab 2 </ard-tab>
    <ard-tab tabId="tab3"> This is tab 3 </ard-tab>
  </ard-tabber>
</div>
<div class="master">
  <div class="title">Tabber with a lot of tabs</div>
  <ard-tabber>
    <ard-tab tabId="tab1"> This is tab 1 </ard-tab>
    <ard-tab tabId="tab2"> This is tab 2 </ard-tab>
    <ard-tab tabId="tab3"> This is tab 3 </ard-tab>
    <ard-tab tabId="tab4"> This is tab 4 </ard-tab>
    <ard-tab tabId="tab5"> This is tab 5 </ard-tab>
    <ard-tab tabId="tab6"> This is tab 6 </ard-tab>
    <ard-tab tabId="tab6"> This is tab 6 </ard-tab>
    <ard-tab tabId="tab7"> This is tab 7 </ard-tab>
    <ard-tab tabId="tab8"> This is tab 8 </ard-tab>
    <ard-tab tabId="tab9"> This is tab 9 </ard-tab>
    <ard-tab tabId="tab10"> This is tab 10 </ard-tab>
    <ard-tab tabId="tab11"> This is tab 11 </ard-tab>
    <ard-tab tabId="tab12"> This is tab 12 </ard-tab>
    <ard-tab tabId="tab13"> This is tab 13 </ard-tab>
    <ard-tab tabId="tab14"> This is tab 14 </ard-tab>
    <ard-tab tabId="tab15"> This is tab 15 </ard-tab>
    <ard-tab tabId="tab16"> This is tab 16 </ard-tab>
    <ard-tab tabId="tab16"> This is tab 16 </ard-tab>
    <ard-tab tabId="tab17"> This is tab 17 </ard-tab>
    <ard-tab tabId="tab18"> This is tab 18 </ard-tab>
    <ard-tab tabId="tab19"> This is tab 19 </ard-tab>
    <ard-tab tabId="tab20"> This is tab 20 </ard-tab>
    <ard-tab tabId="tab21"> This is tab 21 </ard-tab>
    <ard-tab tabId="tab22"> This is tab 22 </ard-tab>
    <ard-tab tabId="tab23"> This is tab 23 </ard-tab>
    <ard-tab tabId="tab24"> This is tab 24 </ard-tab>
    <ard-tab tabId="tab25"> This is tab 25 </ard-tab>
    <ard-tab tabId="tab26"> This is tab 26 </ard-tab>
    <ard-tab tabId="tab26"> This is tab 26 </ard-tab>
    <ard-tab tabId="tab27"> This is tab 27 </ard-tab>
    <ard-tab tabId="tab28"> This is tab 28 </ard-tab>
    <ard-tab tabId="tab29"> This is tab 29 </ard-tab>
    <ard-tab tabId="tab30"> This is tab 30 </ard-tab>
  </ard-tabber>
</div>
<div class="master">
  <div class="title">Tabber with global label template</div>
  <ard-tabber>
    <ard-tab tabId="tab1"> This is tab 1 </ard-tab>
    <ard-tab tabId="tab2"> This is tab 2 </ard-tab>
    <ard-tab tabId="tab3"> This is tab 3 </ard-tab>
    <ng-template
      ard-tabber-label-tmp
      let-label
    >
      <div style="color: red">{{ label }}</div>
    </ng-template>
  </ard-tabber>
</div>
<div class="master">
  <div class="title">Tabber with single label templates</div>
  <ard-tabber>
    <ard-tab
      tabId="tab1"
      [label]="red"
    >
      This is tab 1
    </ard-tab>
    <ard-tab
      tabId="tab2"
      [label]="green"
    >
      This is tab 2
    </ard-tab>
    <ard-tab
      tabId="tab3"
      [label]="blue"
    >
      This is tab 3
    </ard-tab>
    <ng-template #red>
      <div style="color: red">Label 1</div>
    </ng-template>
    <ng-template #green>
      <div style="color: green">Label 2</div>
    </ng-template>
    <ng-template #blue>
      <div style="color: blue">Label 3</div>
    </ng-template>
  </ard-tabber>
</div>
<div class="master">
  <div class="title">Tabber controled by signal</div>
  <ard-tabber [(selectedTab)]="selectedTab">
    <ard-tab tabId="tab1"> This is tab 1 </ard-tab>
    <ard-tab tabId="tab2"> This is tab 2 </ard-tab>
    <ard-tab tabId="tab3"> This is tab 3 </ard-tab>
  </ard-tabber>
</div>
<div class="master">
  <div class="title">Tabber with a non-existent tab selected by default</div>
  <ard-tabber selectedTab="non-existing-tab">
    <ard-tab tabId="tab1"> This is tab 1 </ard-tab>
    <ard-tab tabId="tab2"> This is tab 2 </ard-tab>
    <ard-tab tabId="tab3"> This is tab 3 </ard-tab>
  </ard-tabber>
</div>

<div class="cover-image yellow">
  <ard-tabber color="warn">
    <ard-tab tabId="overview" label="Overview">
      <div class="content"></div>
    </ard-tab>
    <ard-tab tabId="api" label="API"></ard-tab>
    <ard-tab tabId="styling" label="Styling"></ard-tab>
  </ard-tabber>
</div>