<!-- <ard-segment [items]="options" variant="pill"></ard-segment>
<ard-segment [items]="options" variant="rounded"></ard-segment>
<ard-segment [items]="options" variant="semirounded"></ard-segment>
<ard-segment [items]="options" variant="sharp"></ard-segment> -->

<ard-segment [items]="options" variant="rounded-connected" uniformWidths itemsPerRow="3" appearance="transparent"></ard-segment>
<ard-segment [items]="options" variant="rounded-connected" uniformWidths itemsPerRow="3" appearance="outlined"></ard-segment>
<ard-segment [items]="options" variant="rounded-connected" uniformWidths itemsPerRow="3" appearance="outlined-strong"></ard-segment>
<ard-segment [items]="options" variant="rounded-connected" uniformWidths itemsPerRow="3" appearance="filled"></ard-segment>
<ard-segment [items]="options" variant="rounded-connected" uniformWidths itemsPerRow="3" appearance="filled-strong"></ard-segment>