<span class="title">Simplest input</span>
<div class="grid master">
    <ard-input
        *ngFor="let disabled of [false, true]"
        [disabled]="disabled"
    ></ard-input>
</div>
<span class="title">Input appearances, max length, text align, ngModel</span>
<div class="grid master">
    <ng-container *ngFor="let appearance of appearances">
        <ard-input
            *ngFor="let disabled of [false, true]"
            [disabled]="disabled"
            [appearance]="appearance"
            [(ngModel)]="value"
            alignText="right"
            [maxLength]="maxLength"
            (ngModelChange)="log('ngModelChange', $event)"
            (change)="log('change', $event)"
            (focus)="log('focus', $event)"
            (blur)="log('blur', $event)"
        ></ard-input>
    </ng-container>
</div>
<span class="title">Input with character allowlist, case insensitive</span>
<div class="grid master">
    <ard-input
        *ngFor="let disabled of [false, true]"
        [disabled]="disabled"
        [charlist]="charlist"
        [charlistCaseInsensitive]="charlistCaseInsensitive"
        [(ngModel)]="valueForCharlist"
        (ngModelChange)="log('ngModelChange', $event)"
        (change)="log('change', $event)"
    ></ard-input>
</div>
<span class="title">Input with suggestions</span>
<div class="grid master">
    <ard-input
        *ngFor="let disabled of [false, true]"
        [disabled]="disabled"
        [(value)]="fruitInputValue"
        [suggestion]="fruitSuggestion$ | async"
        (valueChange)="onFruitInput($event)"
    ></ard-input>
</div>