<span class="title">Simplest input</span>
<div class="grid master">
  <ard-input></ard-input>
</div>
<span class="title">Simple input with placeholder</span>
<div class="grid master">
  <ard-input placeholder="Placeholder"></ard-input>
</div>
<span class="title">Input appearances, max length, text align, ngModel</span>
<div class="grid master">
  @for (appearance of appearances; track appearance) { @for (disabled of [false, true]; track disabled) {
  <ard-input
    [disabled]="disabled"
    [appearance]="appearance"
    [(ngModel)]="value"
    alignText="right"
    [maxLength]="maxLength"
    (ngModelChange)="log('ngModelChange', $event)"
    (change)="log('change', $event)"
    (focus)="log('focus', $event)"
    (blur)="log('blur', $event)"
  ></ard-input>
  } }
</div>
<span class="title">Input prefix</span>
<div class="grid master">
  <ard-input>
    <ng-template ard-prefix-tmp>
      <ard-icon>person</ard-icon>
    </ng-template>
  </ard-input>
</div>
